@CHARSET "ISO-8859-1";

form div label
{
	display: inline-block; 
	width:100px;
	text-align:top;
	background-color:#FFD575;
	font-family: Arial, Helvetica, Sans-serif;
	color: #816210;
}
form div div
{
	display: inline;
}
form div textarea
{
	vertical-align: top;
}
form input, form tetbox, form select { background-color: #CCFFCC; }

textarea { width:500px; height:100px; }

div#sidebar { background-image:url('../gfx/sidebar-admin.jpg'); background-color: #816210 }

.admin-list { list-style: none; }
.admin-list th { background-color: #828282; color: white; font-family: Arial, Helvetica, sans-serif;}
.admin-list a.initial { font-family: Arial, Hevletica, sans-serif; font-size: 24pt; font-weight:bold; }
.admin-list a.top { font-family: Arial, Hevletica, sans-serif; font-size: 8pt; }
.up.button {		background-image:url('../gfx/admin/icon-up.png'); width:10px;}
.down.button {	background-image:url('../gfx/admin/icon-down.png'); width:10px; }
.edit.button {	background-image:url('../gfx/admin/icon-edit.png'); }
.delete.button {	background-image:url('../gfx/admin/icon-delete.png'); width:12px;}
.add.button {	background-image:url('../gfx/admin/icon-create.png'); }
.view.button {	background-image:url('../gfx/admin/icon-view.png'); }
.password.button {	background-image:url('../gfx/admin/icon-key.png'); }
.publish.on.button {	background-image:url('../gfx/admin/icon-published-on.png'); }
.publish.off.button {	background-image:url('../gfx/admin/icon-published-off.png'); }
.button {
	display: inline-block; 
	background-repeat: no-repeat;
	background-align: middle middle;
	width:16px; 
	height:16px; 
	font-size: 0; 
	border: 0px; 
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#initials
{
	text-align:center;
}

.fault-new td {font-weight:bold;}
.fault-resolved td {color:#CCCCCC;}