@CHARSET "ISO-8859-1";

body { background-color:#999999; }

div#wrapper { 
    background:#FFFFFF;
    margin:0 auto;
    width:980px; }

#header
{
	display: block;
	text-indent: -1000px;
	background-color:#65A0E2;
	background-image:url('../gfx/banner-small.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	width: 980px;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
}
#header.home
{
	height: 120px;
	background-image:url('../gfx/banner.jpg');
}


#middlesection
{
	overflow:hidden;
}

#content
{
	background-color:white;
	width: 830px;
	float: right;
	min-height: 600px;
	padding: 5px;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}
div#sidebar
{
	width: 150px;
	background-color:#335c22;
	background-image:url('../gfx/sidebar.jpg');
	background-repeat:repeat-x; 
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}
div#sidebar ul { margin: 0px; margin-left: -40px; font-family: Arial, Helvetica, Sans-serif; }
div#sidebar ul li { border-bottom: 1px solid white; list-style-type: none; text-indent: 5px; position: relative; margin-right:10px;}
div#sidebar ul li a { color:white; text-decoration: none;  display: block; width: 100%;}
	
div#sidebar ul li ul {
	background-color:#335c22;
	background-image:url('../gfx/sidebar.jpg');
	background-repeat:repeat-x; 
	display: none;
	position:absolute;
	margin-left: 0px;
	width: 300px;
	left: 139px;
	top: 0px; 
}
div #sidebar ul li ul li {
	margin-left: -40px; 
}
div#sidebar li:hover ul { display: block; }
div#sidebar li a:hover { color:#DDDDDD }

div#footer { clear: right; background-color:white; border-top: 1px solid #CCCCCC; }
div#footer a { color:#80Ad60; text-decoration:none; }
span#createdby { color:#CCCCCC; float:right; }
span#createdby a { color:#CCCCCC; }


/*
* Content Styles
*/


h1, h2, h3 { font-family: Arial, Helvetica, Sans-serif; }
h1 a, h2 a, h3 a { text-decoration: none; color: inherit;}
h1 a:hover, h2 a:hover, h3 a:hover { text-decoration: underline; }

h2 {}
span.subheading { font-size: 75%; font-weight: normal;}
a.heading { color: black; text-decoration:none; }


a { color: inherit; }
a:hover { color: blue; }

.pageheading
{
	font-size: 22pt;
	background-color: #e1b344;
	color:white;
	margin:-5px;
	margin-bottom: 7px;
	padding: 2px;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight:bold;
}
div.pageheading a
{
	text-decoration:none;
	color: white;
}
div.pageheading a:hover
{
	text-decoration:underline;
}

#pageimage1
{
	float:right;
}

.objectbox {  margin: 5px; background-color: #FFFFCC; }
.objectbox.left, .whitebox.left {  margin: 5px; width:405px; float:left; }
.objectbox.right, .whitebox.right {  margin: 5px; width:405px; float:right; text-align: right;}

.objectbox div.sideimage { width:100px; border: none; display:block; margin: 5px; }
.objectbox.left div.sideimage, .whitebox.left div.sideimage { float: right;}
.objectbox.right div.sideimage, .whitebox.right div.sideimage {float: left;}

div.objectbox h2 { margin:0px; font-size:16pt; background-color:#EEEE99; }

div.objecttext { padding: 5px; }

span.initials { font-size: 75%; }

.accordion-image {float:right;}

span.button { display: inline-block; width:273px; height:100px; vertical-align:text-top; text-align:center;}
span.button h3 { margin:3px; background-color: #D6792C }
span#button-iamnew{ background-color:#E6B93C; }
span#button-roster{ background-color:#E6B93C;}
span#button-right{ background-color:#E6B93C;}

table.tabular { border-collapse: collapse }
table.tabular td { padding:5px;}
table.tabular th {background-color: #72A8E8; text-align: left; }
table.tabular tr.even { background-color: #FFDD8E; }

.double-tabs { background-color: #F8D885;}
 .double-tabs .bottom-row{ background-color: #83AB62;}
.double-tabs, .double-tabs .bottom-row, .double-tabs ul, .double-tabs .bottom-row ul
{ padding:0px; margin:0px; }
.double-tabs li, .double-tabs .bottom-row li
{ display: inline; list-style-type: none; }
.double-tabs li { background-color: #e1b344; }
.double-tabs .bottom-row li { background-color: #4C733A; }
.double-tabs li a, .double-tabs .bottom-row li a
{ text-decoration: none; color: black; padding: 4px; }
.double-tabs li.active { background-color:#ECC955; border:1px solid black; }
.double-tabs .bottom-row li.active { background-color:#709754; border:1px solid black; }

table#roster { cellspacing:0px; border-collapse: collapse}
table#roster th { background-color:#EEEE99; color: black; text-align:left; }
table#roster td, table#roster th { margin: 0px; spacing: 0px; border: 1px solid #999999;}
table#roster tr.active td, table#roster tr.active th {background-color: #E1B344}

#accordion {
list-style: none;
margin: 5px 0;
padding: 0;
height: 200px;
overflow: hidden;
background: #FFFFCC;}
 
#accordion li {
float: left;
border-left:
display: block;
height: 230px;
width: 10px;
padding: 5px 0px;
overflow: hidden;
color: #000000;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}

#accordion li h3 { margin:0px; font-size:16pt; background-color:#EEEE99; }
 
#accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion li.active {
width: 100%;
}

#accordionkey { list-style: none; margin: 0px; padding: 0px; text-align:center;}
#accordionkey li { display: inline; }

#rosterwidget { list-style: none; margin: 0px; padding: 0px; text-align:center;}
