@CHARSET "ISO-8859-1";
body { background-color:#999999; -webkit-text-size-adjust:none;
  font-family:Helvetica, Arial, Verdana, sans-serif;
  padding:0px; margin:0; }
h1, h2, h3 { font-family: Arial, Helvetica, Sans-serif; }

#pageimage1 { padding-left: 5px; }

div#wrapper { 
    background:#FFFFFF;
    margin:0;
    padding:0;
    width:310px; }
    
div#header
{
	width:100%;
	background-color:#335c22;
	background-image:url('../gfx/sidebar.jpg');
	background-repeat:repeat-x;
	color:white;
	font-weight:bold;
	font-family: Arial, Helvetica, Sans-serif;
	padding:5px;
}

div#content
{
	background-color:white;
	width:100%;
	padding: 5px;
}
div#sidebar
{
	width:100%;
	background-color:#335c22;
	background-image:url('../gfx/sidebar.jpg');
	background-repeat:repeat-x;
}
div#sidebar ul { margin: 0px; margin-left: -40px; font-family: Arial, Helvetica, Sans-serif; }
div#sidebar ul li { font-size:20pt; border-bottom: 1px solid white; list-style-type: none; text-indent: 5px;}
div#sidebar ul li a { color:white; text-decoration: none; display: block;
	width: 100%;}

div#footer { clear: right; background-color:white; border-top: 1px solid #CCCCCC; width:100%; }
div#footer a { color:#80Ad60; text-decoration:none; }
span#createdby { color:#CCCCCC; float:right; }
span#createdby a { color:#CCCCCC; }

div.pageheading
{
	font-size: 22pt;
	background-color: #e1b344;
	color:white;
	margin:-5px;
	margin-bottom: 7px;
	padding: 2px;
	font-family: Arial, Helvetica, Sans-serif;
}

div#pageimage1
{
	
}

.objectbox {  margin: 5px; background-color: #FFFFCC; }
.objectbox.left {  margin: 5px; width:405px; float:left; }
.objectbox.right {  margin: 5px; width:405px; float:right; text-align: right;}

.objectbox div.sideimage { width:100px; border: 1px solid black; display:block; min-height:70px; margin: 5px; }
.objectbox.left div.sideimage { float: right;}
.objectbox.right div.sideimage {float: left;}

div.objectbox h2 { margin:0px; font-size:16pt; background-color:#EEEE99; }

div.objecttext { padding: 5px; }

span.button { display: block; width:273px; height:100px; vertical-align:text-top; text-align:center;}
span.button h3 { margin:3px; background-color: #D6792C }
span#button-iamnew{ background-color:#E6B93C; }
span#button-roster{ background-color:#E6B93C;}
span#button-right{ background-color:#E6B93C;}


#campuses li
{
	display: inline;
	list-style-type: none;
}

form div label
{
	display: inline-block; 
	width:100px;
	text-align:top;
	background-color:#FFCCFF;
}
form div div
{
	display: inline;
}
form div textarea
{
	vertical-align: top;
}


#roster {}
#roster th { background-color:#EEEE99; color: black; text-align:left; }



.accordion-image {float: none; display:block;}

#accordion {
list-style: none;
width:auto;
margin: 5px 0;
padding: 0;
height: 200px;
overflow: hidden;
background: #FFFFCC;}
 
#accordion li {
float: left;
border-left:
display: block;
height: 230px;
width: 10px;
padding: 5px 0px;
overflow: hidden;
color: #000000;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}

#accordion li h3 { margin:0px; font-size:16pt; background-color:#EEEE99; }
 
#accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion li.active {
width: auto;
}

#accordionkey { list-style: none; margin: 0px; padding: 0px; text-align:center;}
#accordionkey li { display: inline; }

#rosterwidget { list-style: none; margin: 0px; padding: 0px; text-align:center;}
