.dontprint {display: none;}
#sidebar {display:none;}
#header{display:none;}
#footer{display:none;}
#middlesection { overflow:auto;}
#content
{
	background-color:white;
	width: auto;
	float: none;
	min-height: auto;
	padding: 5px;
	padding-bottom: 0;
	margin-bottom: 0;
}
div.sf-toolbarreset { display: none;}

body#roster .pageheading {display:none;}
.double-tabs {display:none; }
#termnav a {display:none;}
#termnav td {font-size: 24pt;;}
table#roster td {border: 1px solid #999999;}
table#roster th {border: 1px solid #000000;}

