<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Error - Grace Community Church</title>
  <link rel="stylesheet" href="{{ asset('bundles/graceweb/css/default.css') }}" type="text/css" media="all" />
 <body>
   <div id="wrapper">
   
   <a href="{{ path('_home') }}" id="header" class="home">Grace Community Church Central Coast NSW Australia</a>
   
   <div id="middlesection">
    
    <div id="content">
    <h1 class='pageheading'>Error {{ status_code }}</h1>
    {% block error %}
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
    {% endblock %}
    Click <a href="{{ path('_home') }}">here</a> to return to the home page.
    </div>
    
    <div id="sidebar">
     <ul>
      <li><a href="{{ path('_home') }}">Home</a></li>
     </ul>
    </div>
    
   </div>
   
   
   <div id="footer">
    <span id="createdby">Created By <a href="http://www.chris-young.com">Chris Young</a></span>
    <a href="{{ path('_page', {'pageid': 'about'}) }}">About</a> |
    <a href="{{ path('_page', {'pageid': 'contact_us'}) }}">Contact Us</a>
   </div>
   </div>
   </div>
</body>
</html>