<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
<channel>
<title>Grace Community Church</title>
<link>http://www.gracecom.net.au/</link>
<language>en-us</language>
<copyright>&#x2117; &amp; &#xA9; 2010 Grace Community Church</copyright>
<itunes:subtitle>Sunday Service messages from Pastors Tony Rae and Jewel Wauchope and the team at Grace Community Baptist Church, NSW Australia.</itunes:subtitle>
<itunes:author>Grace Community Baptist Church</itunes:author>
<itunes:summary>Sunday Service messages from Pastors Tony Rae and Jewel Wauchope and the team at Grace Community Baptist Church, NSW Australia.</itunes:summary>
<description>Sunday Service messages from Pastors Tony Rae and Jewel Wauchope and the team at Grace Community Baptist Church, NSW Australia.</description>
<itunes:owner>
<itunes:name>Grace Community Baptist Church</itunes:name>
<itunes:email>chris@gracecbc.com</itunes:email>
</itunes:owner>
<itunes:image href="http://www.gracecbc.com/images/podcast-logo.jpg" />
<itunes:category text="Religion &amp; Spirituality">
<itunes:category text="Christianity"/>
</itunes:category>
{% for audiofile in audiofiles %}

	<item>
	<title>{{ audiofile.title }}</title>
	<itunes:author>{{ audiofile.speaker }}</itunes:author>
	<itunes:subtitle>{{ audiofile.subtitle }}</itunes:subtitle>
	<itunes:summary></itunes:summary>
	<enclosure url="{{ app.request.scheme ~  '://' ~  app.request.host ~ '/bundles/graceweb/files/'~audiofile.file|replace({' ':'%20'})}}" length="28002995" type="audio/mpeg"></enclosure>
	<guid>{{ app.request.scheme ~  '://' ~  app.request.host ~ asset('bundles/graceweb/files/'~audiofile.file)}}</guid>
	<pubDate>{{ audiofile.date.format('D, d M Y') }} 00:00:00 +1000</pubDate>
	<itunes:duration>{{ audiofile.length.format('H:i:s') }}</itunes:duration>
	<itunes:keywords></itunes:keywords>
	</item>
{% endfor %}

</channel>
</rss>