{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Blog{% endblock %}
{% block content %}
  
     <table class='admin-list'>
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_article') }}" title="Add an article">Add</a></th>
       <th>Date</th>
       <th>Title</th>
       <th>Profile</th>
      </tr>
{% for article in articles %}
      <tr>
       <td class='Article'>
        <span id='id' style='display:none'>{{ article.id }}</span>
        <a href="{{ path('_edit_article', {'id': article.id}) }}" id='edit' class='edit button' title="Edit article">e</a>
        <a href="{{ path('_delete_article', {'id': article.id}) }}" id='delete' class='delete button' title="Delete article">x</a>
        <a title="Publish" id='publish' class='publish {% if article.published == 1 %}on{% else %}off{% endif %} button'>{{ article.published }}</a>
       </td>
       <td>{{ article.date.format('d/m/y') }}</td>
       <td>{{ article.title }}</td>
       <td>{% if article.profile %}{{ article.profile.name }}{% endif %}</td>
      </tr>
{% endfor %}
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_article') }}" title="Add an article">Add</a></th>
       <th>Date</th>
       <th>Title</th>
       <th>Profile</th>
      </tr>
     </table>
{% endblock %}