{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Audio Files{% endblock %}
{% block content %}
  
     <table class='admin-list'>
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_audiofile') }}" title="Add an audio file">Add</a></th>
       <th>Date</th>
       <th>Speaker</th>
       <th>Title</th>
       <th>Congregation</th>
      </tr>
{% for audiofile in audiofiles %}
      <tr>
       <td class='AudioFile'>
        <span id='id' style='display:none'>{{ audiofile.id }}</span>
        <a href="{{ path('_edit_audiofile', {'id': audiofile.id}) }}" id='edit' class='edit button' title="Edit audiofile">e</a>
        <a href="{{ path('_delete_audiofile', {'id': audiofile.id}) }}" id='delete' class='delete button' title="Delete audiofile">x</a>
        <a title="Publish" id='publish' class='publish {% if audiofile.published == 1 %}on{% else %}off{% endif %} button'>{{ audiofile.published }}</a>
       </td>
       <td>{{ audiofile.date.format('d/m/y') }}</td>
       <td>{{ audiofile.speaker }}</td>
       <td>{{ audiofile.title }}</td>
       <td>{{ audiofile.service.congregation.shortname }}</td>
      </tr>
{% endfor %}
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_audiofile') }}" title="Add an audio file">Add</a></th>
       <th>Date</th>
       <th>Speaker</th>
       <th>Title</th>
       <th>Congregation</th>
      </tr>
     </table>
{% endblock %}