{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Cells{% endblock %}
{% block content %}
      <a href="{{ path('_add_cell') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a cell</a>

      <ul class='admin-list orderable-list'>
{% for cell in cells %}
       <li class='Cell'>
        <span id='id' style='display:none'>{{ cell.id }}</span>
        <a title="Up" id='up' class='up button'>up</a>
        <a title="Down" id='down' class='down button'>down</a>
        <a href="{{ path('_edit_cell', {'id': cell.id}) }}" id='edit' class='edit button' title="Edit cell">e</a>
        <a href="{{ path('_delete_cell', {'id': cell.id}) }}" id='delete' class='delete button' title="Delete cell">x</a>
        <a title="Publish" id='publish' class='publish {% if cell.published == 1 %}on{% else %}off{% endif %} button'>{{ cell.published }}</a>
        {{ cell.name }} {% if cell.getCongregation %}({{ cell.getCongregation.initials }}){% endif %}
       </li>
{% endfor %}
      </ul>
{% endblock %}

