{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Congregations{% endblock %}
{% block content %}     
     <a href="{{ path('_add_congregation') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a congregation</a>

     <ul class='admin-list'>
{% for congregation in congregations %}
      <li class='Congregation'>
        <span id='id' style='display:none'>{{ congregation.id }}</span>
       <a href="{{ path('_edit_congregation', {'id': congregation.id}) }}" id='edit' class='edit button' title="Edit congregation">e</a>
       <a href="{{ path('_delete_congregation', {'id': congregation.id}) }}" id='delete' class='delete button' title="Delete congregation">x</a>
       <a title="Publish" id='publish' class='publish {% if congregation.published == 1 %}on{% else %}off{% endif %} button'>{{ congregation.published }}</a>
		{{ congregation.name }} / {{ congregation.shortname }} ({{ congregation.initials }})
      </li>
{% endfor %}
     </ul>
{% endblock %}