Dear Webmaster,
{{ fault.creator.username }} has added a new fault report 
Subject: {{ fault.subject }} 
URL: {{ fault.url }}
{{ fault.description }}

To respond, please use the website:
http://www.gracecom.net.au{{ path('_admin_fault',{'id':fault.id}) }}