Dear {{ feature.creator.username }},
Thank you for adding a feature request 
Subject: {{ feature.subject }} 
{{ feature.description }}

We will do our best to develop this for you.

PLEASE DO NOT REPLY TO THIS EMAIL

To respond, please use the website:
{{ url('_admin_feature',{'id':feature.id}) }}