Dear {{ feature.creator.username }},
{{ comment.creator.username }} has added a comment to the feature request "{{ feature.subject }}" 

{{ comment.comment }}

PLEASE DO NOT REPLY TO THIS EMAIL

To respond, please use the website:
{{ url('_admin_feature',{'id':feature.id}) }}