Dear Webmaster,
{{ feature.creator.username }} has added a new feature request 
Subject: {{ feature.subject }} 
{{ feature.description }}

To respond, please use the website:
{{ url('_admin_feature',{'id':feature.id}) }}