Dear {{ fault.creator.username }},
Your fault report: {{ fault.subject }}
has been marked as '{{ fault.status }}' by {{ user.username }}. 
URL: {{ fault.url }}
{{ fault.description }}

PLEASE DO NOT REPLY TO THIS MESSAGE

If you believe this to be in error, please respond via the website:
{{ url('_admin_fault',{'id':fault.id}) }}