Dear {{ fault.creator.username }},
{{ comment.creator.username }} has added a comment to the fault report "{{ fault.subject }}" 

{{ comment.comment }}

PLEASE DO NOT REPLY TO THIS EMAIL

To respond, please use the website:
http://www.gracecom.net.au{{ path('_admin_fault',{'id':fault.id}) }}