{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Events{% endblock %}
{% block content %}
     <table class='admin-list'>
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_event') }}" title="Add an event">Add</a></th>
       <th>Date</th>
       <th>Speaker</th>
       <th>Title</th>
       <th>Congregation</th>
      </tr>
{% for event in events %}
      <tr>
       <td class='Event'>
        <span id='id' style='display:none'>{{ event.id }}</span>
        <a href="{{ path('_edit_event', {'id': event.id}) }}" id='edit' class='edit button' title="Edit event">e</a>
        <a href="{{ path('_delete_event', {'id': event.id}) }}" id='delete' class='delete button' title="Delete event">x</a>
        <a title="Publish" id='publish' class='publish {% if event.published == 1 %}on{% else %}off{% endif %} button'>{{ event.published }}</a>
       </td>
       <td>{{ event.dateStart.format('d/m/y') }}</td>
       <td>{{ event.name }}</td>
       <td>{{ event.location }}</td>
       <td>{% if event.congregation %}{{ event.congregation.shortName }}{% endif %}</td>
      </tr>
{% endfor %}
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_event') }}" title="Add an event">Add</a></th>
       <th>Date</th>
       <th>Speaker</th>
       <th>Title</th>
       <th>Congregation</th>
      </tr>
     </table>
{% endblock %}