{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Faults{% endblock %}
{% block content %}
     <table class='admin-list' width=100%>
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_fault') }}" title="Add a fault">Add</a></th>
       <th>#</th>
       <th>Date</th>
       <th>Subject</th>
       <th>Comments</th>
       <th>Status</th>
      </tr>
{% for fault in faults %}
	<tr class='fault-{{ fault.status }}'>
       <td class='Fault'>
        <span id='id' style='display:none'>{{ fault.id }}</span>
		<a href="{{ path('_edit_fault', {'id': fault.id}) }}" title="Edit fault" class='edit button'>e</a>
		<a href="{{ path('_delete_fault', {'id': fault.id}) }}" title="Delete fault" class='delete button'>x</a>
		<a href="{{ path('_admin_fault', {'id': fault.id}) }}" title="View fault" class='view button'>v</a>
	   </td>
	   <td><a href="{{ path('_admin_fault', {'id': fault.id}) }}">#{{ fault.id }}</a></td>
	   <td><a href="{{ path('_admin_fault', {'id': fault.id}) }}">{{ fault.timestamp.format('d/m/y') }}</a></td>
	   <td><a href="{{ path('_admin_fault', {'id': fault.id}) }}">{{ fault.subject }}</a></td>
	   <td>{{ fault.comments|length }}</td>
	   <td>{{ fault.status }}
	<tr>
{% endfor %}
</table>
{% endblock %}

