{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Fault #{{ fault.id }}: {{ fault.subject }}{% endblock %}
{% block content %}
	<b>Status:</b> {{ fault.status }}
	<br/><b>URL:</b> <a href="{{fault.url}}">{{fault.url}}</a>
	<p>{{ fault.description|nl2br }}</p>
	<b>Created by:</b> {{ fault.creator.username }}
	<br/><b>Time:</b> {{ fault.timestamp.format('d/m/Y h:i a') }}
	<br/>
	<a href="{{ path('_admin_faults') }}">&lt;- All Faults</a>
	<a href="{{ path('_edit_fault', {'id': fault.id}) }}">Edit</a>
	<a href="{{ path('_delete_fault', {'id': fault.id}) }}">Delete</a>
	<br/><br/>
	{% if fault.comments.count %}
	<h3>Comments:</h3>
	{% for comment in fault.comments %}
	<div>
	<span style='float:right;'>
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<a href='{{ path('_edit_faultcomment',{'id':comment.id}) }}'>Edit</a>
	<a href='{{ path('_delete_faultcomment',{'id':comment.id}) }}'>Delete</a>
	{% endif %}
	<br/>Created by: {{ comment.creator.username }}
	<br/>{{ comment.timestamp.format('d/m/Y h:i a') }}
	</span>
	<p>{{ comment.comment }}</p>
	</div>
	<div style='clear:right;'></div>
	{% endfor %}
	{% endif %}
    <h4>Add a comment:</h4>
    <form action="{{ path('_admin_fault',{'id':fault.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>	
{% endblock %}

