{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Features{% endblock %}
{% block content %}
<a href="{{ path('_add_feature') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a feature</a>
<ul id="features">
{% for feature in features %}
	<li>
	<a href="{{ path('_edit_feature', {'id': feature.id}) }}" class='edit button' title="Edit feature">e></a>
	<a href="{{ path('_delete_feature', {'id': feature.id}) }}" class='delete button' title="Delete feature">x</a>
	<a href="{{ path('_admin_feature', {'id': feature.id}) }}" class='view button' title="View feature">v</a>
	<a href="{{ path('_admin_feature', {'id': feature.id}) }}">{{ feature.subject }}</a>
	Votes: <span class="votes">{{ feature.votes.count }}</span>
	{% if feature.canvote(app.user) %}<a href="#vote" class="vote">vote</a>{% endif %}
	<span class="id" style="display:none;">{{feature.id}}</a>
	</li>
{% endfor %}
</ul>

<script>
$(document).ready(function(){

  $('#features .vote').click(function(){

    item = $(this).parent();
    id = $(item).find('.id').html();
    
  	url = '{{ path('_ajax_vote_feature',{'id':'[id]'}) }}';
  	url = url.replace('%5Bid%5D',id);
  	
  	jQuery.getJSON(url, function(response){
  	  if (response.success)
  	  {
  	  	$(item).find('.votes').html(response.votes);
  	  	$(item).find('.vote').hide();
      }
      else alert(response.error);
     });
  });
});
</script>

{% endblock %}

