{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Feature: {{ feature.subject }}{% endblock %}
{% block content %}
	<p>{{ feature.description|nl2br }}</p>
	Created by: {{ feature.creator.username }}
	<br/>
	<a href="{{ path('_admin_features') }}">&lt;- All Features</a>
	<a href="{{ path('_edit_feature', {'id': feature.id}) }}">Edit</a>
	<a href="{{ path('_delete_feature', {'id': feature.id}) }}">Delete</a>
	<br/><br/>
	{% if feature.comments.count %}
	<h3>Comments:</h3>
	{% for comment in feature.comments %}
	<div>
	<span style='float:right;'>
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<a href='{{ path('_edit_featurecomment',{'id':comment.id}) }}'>Edit</a>
	<a href='{{ path('_delete_featurecomment',{'id':comment.id}) }}'>Delete</a>
	{% endif %}
	<br/>Created by: {{ comment.creator.username }}
	<br/>{{ comment.timestamp.format('d/m/Y h:i a') }}
	</span>
	<p>{{ comment.comment }}</p>
	</div>
	<div style='clear:right;'></div>
	{% endfor %}
	{% endif %}
    <h4>Add a comment:</h4>
    <form action="{{ path('_admin_feature',{'id':feature.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>	
{% endblock %}

