{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add Cell{% endblock %}
{% block content %}
    <form action="{{ path('_add_cell') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
{% endblock %}

