{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Cell{% endblock %}
{% block content %}
    <form action="{{ path('_delete_cell',{'id':cell.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this cell?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="objectbox">
        <h2>{{ cell.name }}</h2>
		{{ cell.day }} {{ cell.time.format('g:ia') }}<br />
{{ cell.location }}<br />
<div>{{ cell.text }}</div>
        </div>
    </form>
{% endblock %}

