{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Feature{% endblock %}
{% block content %}
    <form action="{{ path('_edit_feature',{'id':feature.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Edit" class="symfony-button-grey" />
    </form>
{% endblock %}

