{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Audio File{% endblock %}
{% block content %}
    <form action="{{ path('_delete_audiofile',{'id':audiofile.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this audio file?
        <br/>{{ audiofile.date.format('d/m/Y') }}
        <br/>{{ audiofile.title }}
        <br/>{{ audiofile.speaker }}
        <br/>{{ audiofile.file }}
        <br/>
        <input type="submit" value="Yes" class="symfony-button-grey" />
    </form>
{% endblock %}

