{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Fault{% endblock %}
{% block content %}
    <form action="{{ path('_delete_fault',{'id':fault.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this fault?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <h2>{{ fault.subject }}</h2>
		<p>{{ fault.description|nl2br }}</p>
    </form>
{% endblock %}

