{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Page{% endblock %}
{% block content %}
    <form action="{{ path('_delete_page',{'id':page.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this page?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <img src='{{ asset('bundles/graceweb/img/page/'~page.image) }}' style='float:right;'>
        <h2>{{ page.title }}</h2>
		<br/>
		<div>{{ page.text|nl2br }}</div>
    </form>
{% endblock %}

