{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Change My Password{% endblock %}
{% block content %}
    <form action="{{ path('_changemypw') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
      
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

