{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Roster Role{% endblock %}
{% block content %}
    <form action="{{ path('_edit_rosterrole',{'id':rosterrole.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
{% endblock %}

