{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add Event{% endblock %}
{% block content %}
    <form action="{{ path('_add_event') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
    <script>
	$(document).ready(function(){
	    $( "#event_date_start" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	    $( "#event_date_end" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	});
	</script>
{% endblock %}

