{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Congregation{% endblock %}
{% block content %}
    <form action="{{ path('_delete_congregation',{'id':congregation.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this congregation?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="congregation">
         <h2>{{ congregation.name }}</h2> 
		<br/>
	{{ congregation.text|nl2br }}
        <br/>
        </div>
        <h3>Services</h3>
        {% for service in congregation.services %}
        <li>{{ service.name }} {{ service.day }} {{ service.startTime.format('H:i') }}</li>
        {% endfor %}
        Will be deleted also
        <h3>Users</h3>
        {% for user in congregation.users %}
        <li>{{ user.username }}</li>
        Will be left with no congregation
        {% endfor %}
        <h3>Events</h3>
        {% for event in congregation.events %}
        <li>{{ event.name }} {{ event.dateStart.format('d/m/Y') }}</li>
        {% endfor %}
        Will be left with no congregation
        <h3>Cells</h3>
        {% for cell in congregation.cells %}
        <li>{{ cell.name }} {{ cell.day }} {{ cell.time.format('h:ia') }}</li>
        {% endfor %}
        Will be left with no congregation
    </form>
{% endblock %}

