{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Page{% endblock %}
{% block content %}
    <form action="{{ path('_edit_page',{'id':page.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
      
        {{ form_row(form.title) }}
        {{ form_row(form.text) }}
        <div>
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            <div>
            {% if page.image %}{{ page.image }}{%endif%}
            </div>
            {{ form_widget(form.file) }}
        </div>
        {{ form_row(form.noimage) }}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

