{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Feature{% endblock %}
{% block content %}
    <form action="{{ path('_delete_feature',{'id':feature.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this feature?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <h2>{{ feature.subject }}</h2>
		<p>{{ feature.description|nl2br }}</p>
    </form>
{% endblock %}

