{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Comment on Fault{% endblock %}
{% block content %}
    <form action="{{ path('_delete_faultcomment',{'id':comment.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this comment?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <h2>{{ comment.timestamp.format('d/m/y h:i a') }}</h2>
		<p>{{ comment.comment|nl2br }}</p>
    </form>
{% endblock %}

