{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Event{% endblock %}
{% block content %}
    <form action="{{ path('_edit_event',{'id':event.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.date_start) }}
        {{ form_row(form.date_end) }}
        {{ form_row(form.time_start) }}
        {{ form_row(form.time_end) }}
        <div>
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            <div>
            {% if event.image %}{{ event.image }}{%endif%}
            </div>
            {{ form_widget(form.file) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
    <script>
	$(document).ready(function(){
	    $( "#event_date_start" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	    $( "#event_date_end" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	});
	</script>
{% endblock %}

