{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Roster Line{% endblock %}
{% block content %}
    <form action="{{ path('_delete_rosterline',{'id':rosterline.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this week?
        <br/>{{ rosterline.service.congregation.name }} {{ rosterline.service.name }}
        <br/>{{ rosterline.date.format('Y-m-d') }}
        <br/>
        {%for item in rosterline.rosteritems %}
        <div>
        {{ item.rosterrole.name }}: {{ item.person.firstName }} {{ item.person.lastName }}
        </div>
        {%endfor%}
        <input type="submit" value="Yes" class="symfony-button-grey" />
    </form>
{% endblock %}

