{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add an article{% endblock %}
{% block content %}
    <form action="{{ path('_add_article') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
    <script>
	$(document).ready(function(){
	    $( "#article_date" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	});
	</script>
{% endblock %}

