{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Ministry{% endblock %}
{% block content %}
    <form action="{{ path('_delete_ministry',{'id':ministry.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this ministry?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="objectbox">
        <img src='{{ asset('bundles/graceweb/img/ministries/'~ministry.image) }}' style='float:right;'>
        <h2>{{ ministry.name }}</h2>
		
	<div>{{ ministry.text|nl2br }}</div>
        <br/>
        </div>
    </form>
{% endblock %}

