{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Ministry{% endblock %}
{% block content %}
    <form action="{{ path('_edit_ministry',{'id':ministry.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        <div>
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            <div>
            {% if ministry.image %}{{ ministry.image }}{%endif%}
            </div>
            {{ form_widget(form.file) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

