{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Article{% endblock %}
{% block content %}
    <form action="{{ path('_edit_article',{'id':article.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.date) }}
        <div>
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
            <br/>
            
            {{ form_label(form.file) }}
            <div>
            {% if article.image %}<img src="{{ asset('bundles/graceweb/img/articles/'~article.image) }}" width="200">{%endif%}
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
    <script>
	$(document).ready(function(){
	    $( "#article_date" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	});
	</script>
{% endblock %}

