{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add Roster Item{% endblock %}
{% block content %}
    <form action="{{ path('_add_rosteritem',{'rosterRole':rosterItem.rosterrole.id,'rosterLine':rosterItem.rosterLine.id}) }}" method="POST" {{ form_enctype(form) }}>
        Add {{ rosterItem.rosterLine.date.format('d/m/Y') }} {{ rosterItem.rosterrole.heading}} - {{ rosterItem.rosterrole.name }}
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
{% endblock %}

