{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Person{% endblock %}
{% block content %}
    <form action="{{ path('_delete_person',{'id':person.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this person?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <input type="button" value="No" class="symfony-button-grey" id="cancel" />
        <br/>{{ person.firstName }} {{ person.lastName }}
    </form>
    
    <h2>You will also delete:</h2>
    {% if person.getRosterItems() %}
    <h3>Roster placements:</h3>
    <ul>
    {% for item in person.getRosterItems() %}
     <li>{{ item.rosterLine.date.format('d/m/Y') }}: {{ item.rosterRole.name }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    <script>$(function(){$("#cancel").click(function(event){window.location = '{{ path('_admin_people') }}';});});</script>
{% endblock %}

