{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add Edit{% endblock %}
{% block content %}
    <form action="{{ path('_edit_service',{'id':service.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

