{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Event{% endblock %}
{% block content %}
    <form action="{{ path('_delete_event',{'id':event.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this event?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="objectbox">
        <img src='{{ asset('bundles/graceweb/img/events/'~event.image) }}' style='float:right;'>
        <h2>{{ event.name }}</h2>
        {% if event.image %}<div class="sideimage"><a href="{{ path('_event',{'name':event.name,'id':event.id}) }}"><img src='{{ asset('bundles/graceweb/img/events/'~event.image) }}' width='100'></a></div>{% endif %}
		{{ event.dateStart.format('l jS F') }} 
        {% if event.dateEnd %} - {{ event.dateEnd.format('l jS F') }} {% endif %}
		{% if event.timeStart %}<br/>{{event.timeStart.format('g:ia')}}{% endif %}
		{% if event.timeEnd %}- {{ event.timeEnd.format('g:ia') }}{% endif %}
		<br/>
	<div>{{ event.shortText|nl2br }}</div>
        <br/>
        </div>
    </form>
{% endblock %}

