{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Cell{% endblock %}
{% block content %}
    <form action="{{ path('_edit_cell',{'id':cell.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
      	{{ form_row(form.name) }}
      	{{ form_row(form.time) }}
      	{{ form_row(form.day) }}
      	{{ form_row(form.location) }}
      	{{ form_row(form.short_text) }}
      	{{ form_row(form.text) }}
      	{{ form_row(form.congregation) }}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

