{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Roster Line{% endblock %}
{% block content %}
    <form action="{{ path('_edit_rosterline',{'id':rosterLine.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.service) }}
        {{ form_row(form.date) }}
        {{ form_row(form.excursion) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
        {% set heading = '' %}
        {% for item in form.rosteritems %}
        {% if item.vars.value.rosterrole.heading != heading %}<h4>{{ item.vars.value.rosterrole.heading }}</h4>{% endif %}
        <div>{{form_label(item.person,item.vars.value.rosterrole.name) }}
	        <span{% if item.vars.value.rosterrole.type == 'text' %} style='display:none;'{% endif %}>{{ form_widget(item.person) }}</span>
	        <span{% if item.vars.value.rosterrole.type == 'person' %} style='display:none;'{% endif %}>{{ form_widget(item.freeText) }}</span>
        </div>
        {% set heading = item.vars.value.rosterrole.heading %}
        {% endfor %}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

