{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Resource Category{% endblock %}
{% block content %}
    <form action="{{ path('_delete_resourcecategory',{'id':resourceCategory.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this resource category?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="resourceCategory">
         <h2>{{ resourceCategory.name }}</h2> 
		<br/>
	{{ resourceCategory.description|nl2br }}
        <br/>
        </div>
        <h3>Files</h3>
        {% for resource in resourceCategory.getFiles %}
        <li>{{ resource.fileName }}</li>
        Will be left with no resource Category
        {% endfor %}
    </form>
{% endblock %}

