{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Service{% endblock %}
{% block content %}
    <form action="{{ path('_delete_service',{'id':service.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this service?        
        <input type="submit" value="Send" class="symfony-button-grey" />
    </form>
    <br>{{ service.rosterroles.count }} Roster roles, {{ service.rosterlines.count }} Roster lines and {{ service.audiofiles.count }} audio files will also be deleted!
{% endblock %}

