{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Article{% endblock %}
{% block content %}
    <form action="{{ path('_delete_article',{'id':article.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this article?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="article">
        <img src='{{ asset('bundles/graceweb/img/articles/'~article.image) }}' style='float:right;'>
        <h2>{{ article.title }}</h2>
		{{ article.date.format('l jS F') }} 
		<br/>
	<div>{{ article.text|nl2br }}</div>
        <br/>
        </div>
    </form>
{% endblock %}

