{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Roster Item{% endblock %}
{% block content %}
    <form action="{{ path('_delete_rosteritem',{'id':rosterItem.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this roster item?<br/>
        {{ rosterItem.rosterLine.date.format('d/m/Y') }} {{ rosterItem.rosterrole.heading }} - {{ rosterItem.rosterrole.name }}
        {% if rosterItem.rosterrole.type == 'person' %}{{ rosterItem.person.firstName }} {{rosterItem.person.lastName }}
        {% else %}{{ rosterItem.freeText }}{% endif %}
        <input type="submit" value="Send" class="symfony-button-grey" />
    </form>
{% endblock %}

