{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete User{% endblock %}
{% block content %}
    <form action="{{ path('_delete_user',{'id':user.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this user?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <p>Username: {{ user.username }}</p>
        {% if user.faults.count %}
        <h4>Fault Reports</h4>
        <ul>
        {% for fault in user.faults %}
        <li>{{ fault.timestamp.format('d/m/y') }}: {{ fault.subject }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </form>
{% endblock %}

