{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add Person{% endblock %}
{% block content %}
    <form action="{{ path('_add_person') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mobile) }}
        {{ form_row(form.text) }}
        {{ form_row(form.congregation) }}

        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
{% endblock %}

