{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Profile{% endblock %}
{% block content %}
    <form action="{{ path('_delete_profile',{'id':profile.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this profile?
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <div class="profile">
        <img src='{{ asset('bundles/graceweb/img/profiles/'~profile.image) }}' width='200' style='float:right;'>
        <h2>{{ profile.name }}<br/><span class='subheading'>{{ profile.role }}</span></h2>
	<div>{{ profile.text|nl2br }}</div>
        <br/>
        </div>
    </form>
{% endblock %}

