{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Resource Category{% endblock %}
{% block content %}
    <form action="{{ path('_edit_resourcecategory',{'id':resourceCategory.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

