{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Profile{% endblock %}
{% block content %}
    <form action="{{ path('_edit_profile',{'id':profile.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.role) }}
        <div>
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
            <br/>
            
            {{ form_label(form.file) }}
            <div>
            {% if profile.image %}<img src="{{ asset('bundles/graceweb/img/profiles/'~profile.image) }}" width="200">{%endif%}
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

