{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Audio File{% endblock %}
{% block content %}
    <form action="{{ path('_delete_resourcefile',{'id':resourcefile.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this resource?
        <br/>{{ resourcefile.name }}
        <br/>{{ resourcefile.size }}
        <br/>{{ resourcefile.type }}
        <br/>{{ resourcefile.description }}
        <br/>
        <input type="submit" value="Yes" class="symfony-button-grey" />
    </form>
{% endblock %}

