{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit User{% endblock %}
{% block content %}
    <form action="{{ path('_changepw',{'id':user.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
      
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

