{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Resource File{% endblock %}
{% block content %}
    <form action="{{ path('_edit_resourcefile',{'id':resourcefile.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        <div>
            {{ form_label(form.filetmp) }}
            {{ form_errors(form.filetmp) }}
            <div>
            {% if resourcefile.file %}{{ resourcefile.file }}{%endif%}
            </div>
            {{ form_widget(form.filetmp) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
    <script>
	$(document).ready(function(){
	    $( "#ResourceFile_date" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	});
	</script>
{% endblock %}

