{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Edit Roster Item{% endblock %}
{% block content %}
    <form action="{{ path('_edit_rosteritem',{'id':rosterItem.id}) }}" method="POST" {{ form_enctype(form) }}>
        Edit {{ rosterItem.rosterLine.date.format('d/m/Y') }} {{ rosterItem.rosterrole.heading}} - {{ rosterItem.rosterrole.name }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
    </form>
{% endblock %}

