{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Add Page{% endblock %}
{% block content %}
    <form action="{{ path('_add_page') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.url) }}
        {{ form_row(form.text) }}
        {{ form_row(form.file) }}
        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
{% endblock %}

