{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Delete Roster Role{% endblock %}
{% block content %}
	<h2>{{ rosterrole.name }}</h2>
	{% if rosterrole.getRosterItems %}
	Roster Items for this role:
	<ul>
	{% for item in rosterrole.getRosterItems %}
	<li>{{ item.rosterline.date.format('d/m/y') }}: {{ item.person.firstname }} {{ item.person.lastname }}</li>
	{% endfor %}
	</ul>
	{% endif %}

    <form action="{{ path('_delete_rosterrole',{'id':rosterrole.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Are you sure you wish to delete this roster role?
        <input type="submit" value="Send" class="symfony-button-grey" />
    </form>
{% endblock %}

