{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Website Administration{% endblock %}
{% block content %}
You are now logged in to the secured area of the grace website. From here you can maintain the content shown on the main website.<br/>
To view the main website, either click the 'Log Out' link or open a new window at <a href="http://www.gracecom.net.au" target="_new">http://www.gracecom.net.au</a>.
{{ content }}
{% endblock %}
