{% extends 'GraceWebBundle::layout.html.twig' %}
{% block menu %} {%endblock%}
{% block content %}

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    <div id="login">
    <div class="header">Login</div>
    <form action="{{ path("_security_check") }}" method="post" id="login">
    	
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="submit" id="submit" class="symfony-button-grey" value="LOGIN" />
        <div style="clear:both;"></div>
    </form>
    </div>
    
    <style>
    	div#login { width:200px; background-color: #1852A6; text-align:center; margin:20px;}
    	form#login { padding:10px;}
    	div#login div.header {color:#FFFFFF; padding:5px; font-size: 16pt; font-weight:bold; font-family: Arial, Helvetica, Sans-serif; background-color: #103972;}
    	form#login label {display: block; width: 100%; text-align: center;}
    	form#login input#submit { float:right; margin:10px;}
    </style>
    
    <script>
    $(document).ready(function(){
	    $("form#login input#username").focus();
	});
    </script>
{% endblock %}
