{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Ministries{% endblock %}
{% block content %}
      <a href="{{ path('_add_ministry') }}" id='create' class='add button'>+</a><a href="{{ path('_add_ministry') }}">Add a ministry</a>
      <ul class='admin-list orderable-list'>
{% for ministry in ministries %}
       <li class='Ministry'>
        <span id='id' style='display:none'>{{ ministry.id }}</span>
        <a title="Up" id='up' class='up button'>up</a>
        <a title="Down" id='down' class='down button'>down</a>
        <a href="{{ path('_edit_ministry', {'id': ministry.id}) }}" id='edit' class='edit button' title="Edit ministry">e</a>
        <a href="{{ path('_delete_ministry', {'id': ministry.id}) }}" id='delete' class='delete button' title="Delete ministry">x</a>
        <a title="Publish" id='publish' class='publish {% if ministry.published == 1 %}on{% else %}off{% endif %} button'>{{ ministry.published }}</a>
        {{ ministry.name }} {% if ministry.congregation.id is defined %}({{ ministry.congregation.initials }}){% endif %}
       </li>
{% endfor %}
      </ul>
{% endblock %}

