{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Page{% endblock %}
{% block content %}
      <a href="{{ path('_add_page') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a page</a>

      <ul class='admin-list orderable-list'>
{% for page in pages %}
       <li class='Page'>
        <span id='id' style='display:none'>{{ page.id }}</span>
        <a title="Up" id='up' class='up button'>up</a>
        <a title="Down" id='down' class='down button'>down</a>
        <a href="{{ path('_edit_page', {'id': page.id}) }}" id='edit' class='edit button' title="Edit page">e</a>
        <a href="{{ path('_delete_page', {'id': page.id}) }}" id='delete' class='delete button' title="Delete page">x</a>
        <a title="Publish" id='publish' class='publish {% if page.published == 1 %}on{% else %}off{% endif %} button'>{{ page.published }}</a>
        {{ page.title }} (/{{page.url}})
       </li>
{% endfor %}
      </ul>
{% endblock %}
