{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}People{% endblock %}
{% block content %}
<div id='initials'>
{% set initial = '' %}
{% for person in people %}
{% if initial != person.lastname|slice(0,1) %}

<a href="#initial-{{ person.lastname|slice(0,1) }}">{{ person.lastname|slice(0,1) }}</a>
{% endif %}
{% set initial = person.lastname|slice(0,1) %}
{% endfor %}   
</div>

<form name='filterbar' id='filterbar' method='POST'>
<table class='filterbar'>
 <tr>
  <th><select name='congregation'>
   <option value=''>Congregation:</option>
   {% for congregation in congregations %}
   <option value='{{ congregation.id }}'{% if filter.congregation == congregation.id %} selected{% endif %}>{{ congregation.shortName }}</option>
   {% endfor %}
   <option value='none'>None</option>
  </select></th>
  <th>
  <input type='submit' value='Filter'>
  </th>
 </tr>
</table>
</form>
    
     <table class='admin-list'>
{% set initial = '' %}
{% for person in people %}
{% if initial != person.lastname|slice(0,1) %}
      <tr>
       <th></th>
       <th><a id="create" class="add button" href="{{ path('_add_person') }}" title="Add a person">Add</a></th>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Congregation</th>
       <th>Email</th>
       <th>Mobile</th>
      </tr>
{% endif %}
      <tr>
       <td>{% if initial != person.lastname|slice(0,1) %}<a class='initial' name='initial-{{ person.lastname|slice(0,1) }}'>{{ person.lastname|slice(0,1) }}</a>
       <br/><a class='top' href="#top">Top</a>{% endif %}
       <td>
        <a href="{{ path('_edit_person', {'id': person.id}) }}" id='edit' class='edit button' title="Edit {{ person.firstname }}">e</a>
        <a href="{{ path('_delete_person', {'id': person.id}) }}" id='delete' class='delete button' title="Delete {{ person.firstname }}">x</a>
       </td>
       <td>{{ person.firstname }}</td>
       <td>{{ person.lastname }}</td>
       <td>{% if person.congregation %}{{ person.congregation.name }}{%endif%}</td>
       <td>{{ person.email }}</td>
       <td>{{ person.mobile }}</td>
      </tr>
{% set initial = person.lastname|slice(0,1) %}
{% endfor %}
      <tr>
       <th>&nbsp;</th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
      </tr>
     </table>
     
{% endblock %}