{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Who's Who{% endblock %}
{% block content %}

      <a href="{{ path('_add_profile') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a profile</a>

      <ul class='orderable-list admin-list'>
{% for profile in profiles %}
       <li class='Profile'>
        <span id='id' style='display:none'>{{ profile.id }}</span>
        <a href="#" title="Up" id='up' class='up button'>up</a>
        <a href="#" title="Down" id='down' class='down button'>down</a>
        <a href="{{ path('_edit_profile', {'id': profile.id}) }}" title="Edit profile" id='edit' class='edit button'>Edit</a>
        <a href="{{ path('_delete_profile', {'id': profile.id}) }}" title="Delete profile" id='delete' class='delete button'>Delete</a>
		<a title="Publish" id='publish' class='publish {% if profile.published == 1 %}on{% else %}off{% endif %} button'>{{ profile.published }}</a>        
{{ profile.name }}
       </li>
{% endfor %}
      </ul>
{% endblock %}


