{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}{{category.Name}} resource files{% endblock %}
{% block content %}
  <a href="{{ path('_admin_resourceCategories') }}">&lt; Back</a>
     <table class='admin-list'>
      <tr>
       <th width=50><a id="create" class="add button" href="{{ path('_add_resourcefile_category', {id: category.id}) }}" title="Add an resource file">Add</a></th>
       <th>Name</th>
       <th>File</th>
       <th>Type</th>
       <th>Size</th>
       <th>Description</th>
      </tr>
{% for resourcefile in category.files %}
      <tr>
       <td class='ResourceFile'>
        <span id='id' style='display:none'>{{ resourcefile.id }}</span><a
         href="{{ path('_edit_resourcefile', {'id': resourcefile.id}) }}" id='edit' class='edit button' title="Edit resource">e</a><a
         href="{{ path('_delete_resourcefile', {'id': resourcefile.id}) }}" id='delete' class='delete button' title="Delete resource">x</a><a
         title="Publish" id='publish' class='publish {% if resourcefile.published == 1 %}on{% else %}off{% endif %} button'>{{ resourcefile.published }}</a>
       </td>
       <td>{{ resourcefile.name }}</td>
       <td><img src="{{ asset('bundles/graceweb/gfx/filetypes/'~resourcefile.file|slice(-3)|replace('.','')~'.png')}}"> {{ resourcefile.file }}</td>
       <td>{{ resourcefile.type }}</td>
       <td>{{ resourcefile.size }}</td>
       <td>{{ resourcefile.description }}</td>
      </tr>
{% endfor %}
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_resourcefile') }}" title="Add a resource">Add</a></th>
       <th>Name</th>
       <th>File</th>
       <th>Type</th>
       <th>Size</th>
       <th>Description</th>
      </tr>
     </table>
{% endblock %}
