{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Resource File Categories{% endblock %}
{% block content %}     
     <a href="{{ path('_add_resourcecategory') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a resourceCategory</a>

     <ul class='admin-list orderable-list'>
{% for resourceCategory in resourceCategories %}
      <li class='ResourceCategory'>
        <span id='id' style='display:none'>{{ resourceCategory.id }}</span>
        <a title="Up" id='up' class='up button'>up</a>
        <a title="Down" id='down' class='down button'>down</a>
       <a href="{{ path('_edit_resourcecategory', {'id': resourceCategory.id}) }}" id='edit' class='edit button' title="Edit resourceCategory">e</a>
       <a href="{{ path('_delete_resourcecategory', {'id': resourceCategory.id}) }}" id='delete' class='delete button' title="Delete resourceCategory">x</a>
       <a title="Publish" id='publish' class='publish {% if resourceCategory.published == 1 %}on{% else %}off{% endif %} button'>{{ resourceCategory.published }}</a>
	   <a href="{{ path('_admin_resourcefiles_category', {'category_id': resourceCategory.id}) }}" id='view' class='view' title="view">{{ resourceCategory.name }}</a> 
      </li>
{% endfor %}
     </ul>
{% endblock %}