{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Roster Roles{% endblock %}
{% block scripts %}
<script type='text/javascript' src='{{ asset('bundles/graceweb/js/roster.js') }}'></script>
{% endblock %}
{% block content %}
      <div class='double-tabs'>
      
       <ul id='top-row'>
        <li>Congregation:</li>
{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
        <li{% for service in congregation.getServices %}{% if service.id == curservice %} class='active'{% endif %}{%endfor%}>
         <a href="#bottom-row-{{congregation.id}}">{{congregation.name}}</a>
        </li>
{% endif %}
{% endfor %}
       </ul>

{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
       <div id='bottom-row-{{congregation.id}}' class='bottom-row'>
        <ul>
         <li>Service:</li>
{% for service in congregation.getServices %}
         <li{% if service.id == curservice %} class='active'{% endif %}>
          <a href="{{ path('_admin_rosterroles',{'service_id':service.id}) }}">{{service.name}}</a>
         </li>
{% endfor %}
        </ul>
       </div>
{%endif%}
{% endfor %}

      </div>

      <a href="{{ path('_add_rosterrole', {'service': curservice}) }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a role</a>

      <ul class='orderable-list admin-list'>
{% set lastheading = '' %}
{% for rosterrole in rosterroles %}
{% if lastheading != rosterrole.heading %}        <b>{{ rosterrole.heading }}</b><br/>
{%endif%}
       <li class='RosterRole'>
        <span id='id' style='display:none'>{{ rosterrole.id }}</span>
        <a title="Up" id='up' class='up button'>up</a><a title="Down" id='down' class='down button'>down</a>
        <a title="Edit" id='edit' class='edit button' href="{{ path('_edit_rosterrole', {'id': rosterrole.id}) }}" title="Edit role">e</a>
        <a title="Delete" id='delete' class='delete button' href="{{ path('_delete_rosterrole', {'id': rosterrole.id}) }}" title="Delete role">x</a>
        {{ rosterrole.name }}
       </li>
{% set lastheading = rosterrole.heading %}
{% endfor %}
      </ul>
{% endblock %}