{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Roster{% endblock %}
{% block scripts %}
<script type='text/javascript' src='{{ asset('bundles/graceweb/js/roster.js') }}'></script>
{% endblock %}
{% block content %}

      <div class='double-tabs'>
      
       <ul id='top-row'>
        <li>Congregation:</li>
{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
        <li{% for service in congregation.getServices %}{% if service.id == meta.service %} class='active'{% endif %}{%endfor%}>
         <a href="#bottom-row-{{congregation.id}}">{{congregation.name}}</a>
        </li>
{% endif %}
{% endfor %}
       </ul>

{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
       <div id='bottom-row-{{congregation.id}}' class='bottom-row'>
        <ul>
         <li>Service:</li>
{% for service in congregation.getServices %}
         <li{% if service.id == meta.service %} class='active'{% endif %}>
          <a href="{{ path('_admin_roster',{'service_id':service.id}) }}">{{service.name}}</a>
         </li>
{% endfor %}
        </ul>
       </div>
{%endif%}
{% endfor %}

      </div>

<table id='termnav'>
 <tr>
  <td><a href="{{ path("_admin_rostert", {'service_id':meta.service, 'year':meta.prevtermyear, 'term':meta.prevterm}) }}">&lt;</a></td>
  <td>Term {{ meta.term }}</td>
  <td><a href="{{ path("_admin_rostert", {'service_id':meta.service, 'year':meta.nexttermyear, 'term':meta.nextterm}) }}">&gt;</a></td>
 </tr>
 <tr>
  <td><a href="{{ path("_admin_rostert", {'service_id':meta.service, 'year':meta.prevyear, 'term':meta.term}) }}">&lt;</a></td>
  <td>{{ meta.year }}</td>
  <td><a href="{{ path("_admin_rostert", {'service_id':meta.service, 'year':meta.nextyear, 'term':meta.term}) }}">&gt;</a></td>
 </tr>
</table>


<table id='roster' class='admin-list'>
 <tr>
  <th>Date</th>
  {% set lastheading = '' %}
  {% for role in roles %}
  {% if lastheading != role.heading %}</th><th>
  {{ role.heading }}{%endif%}
  {% set lastheading = role.heading %}
  {% endfor %}
 </tr>
 {% for line in lines %}
 <tr>
  <th class='RosterLine'>{{line.date.format('d/m')}}
   <a href='{{ path('_delete_rosterline',{'id':line.id}) }}' class='delete button' title="Delete line">x</a>
   <a href='{{ path('_edit_rosterline',{'id':line.id}) }}' class='edit button' title="Edit line">e</a>
   <a title="Publish" id='publish' class='publish {% if line.published == 1 %}on{% else %}off{% endif %} button'>{{ line.published }}</a>
   <span id='id' class='lineid'>{{ line.id }}</span>
  </th>
  {% set lastheading = '' %}
  {% for role in roles %}{% set nobody = true %}  
   {% if lastheading != role.heading %}
  </td><td>{%endif%}  
   <div class='item'>
   {% for item in line.rosterItems %}
     {% if item.rosterRole.id == role.id%}
       {%set nobody=false%}       
    <span class='id'>{{ item.id }}</span>
    <a id='delete' class='delete button' title="Remove {{ role.name }}" href="{{ path('_delete_rosteritem',{'id':item.id})}}">x</a>
    <a id='edit' title="Edit {{ role.name }}" href='{{ path('_edit_rosteritem',{'id':item.id})}}'>{% if role.type=='person' and item.person.firstName is defined %}{{ item.person.firstName }}{%else%}{{ item.freetext }}{%endif%}</a>
    {%endif%}{%endfor%}
    {% if nobody %}
    <span class='roleid'>{{ role.id }}</span>
    <a id='add' class='add button' title="Add {{ role.name }}" href='{{ path('_add_rosteritem',{'rosterRole':role.id,'rosterLine':line.id})}}'>+</a>
    {%endif%}
   </div>
    {% set lastheading = role.heading %}
    {% set nobody=true %}
  {% endfor %}
   </tr>
 {% endfor %}
 </table>
     <form action="{{ path('_admin_rostera') }}" method="POST" {{ form_enctype(form) }}>
          {{ form_rest(form) }}
          <input type="submit" value="Add" class="symfony-button-grey" />
    </form>
 {{ form_errors(form) }}

<div id='editformdiv'>
Loading...
</div>

<style>
#editformdiv {
}
#roster .item { display: inline; }
#roster .id, #roster .roleid, #roster .lineid { display: none; }
</style>

<script>
$('#editformdiv').dialog({ autoOpen: false, modal: true, title: 'Edit roster item', minWidth: 400 });
$('#roster #add').click(function(event){
	$('#editformdiv').dialog({ title: 'Add roster item' });
	$('#editformdiv').html('Loading...');
	roleid = $(this).parent().find('.roleid').html();
	lineid = $(this).parent().parent().parent().find('.lineid').html();
	url = '{{ path('_ajax_addrosteritem', {'rosterRole':'[roleid]','rosterLine':'[lineid]'}) }}';
	url = url.replace('%5Broleid%5D',roleid);
  	url = url.replace('%5Blineid%5D',lineid);
	$('#editformdiv').load(url);
	$('#editformdiv').dialog('open');
	event.preventDefault();
});
$('#roster #edit').click(function(event){
	$('#editformdiv').dialog({ title: 'Edit roster item' });
	$('#editformdiv').html('Loading...');
	id = $(this).parent().find('.id').html();
	url = '{{ path('_ajax_editrosteritem', {'id':'[id]'}) }}';
  	url = url.replace('%5Bid%5D',id);
	$('#editformdiv').load(url);
	$('#editformdiv').dialog('open');
	event.preventDefault();
});
$('#roster #delete').click(function(event){
	$('#editformdiv').dialog({ title: 'Delete roster item' });
	$('#editformdiv').html('Loading...');
	id = $(this).parent().find('.id').html();
	url = '{{ path('_ajax_deleterosteritem', {'id':'[id]'}) }}';
  	url = url.replace('%5Bid%5D',id);
	$('#editformdiv').load(url);
	$('#editformdiv').dialog('open');
	event.preventDefault();
});

	$(document).ready(function(){
	    $( "#form_date" ).datepicker({ dateFormat: 'dd/mm/yy', appendText: '(dd/mm/yyyy)' });
	});
	</script>

{% endblock %}
