{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Services{% endblock %}
{% block content %}
     <a href="{{ path('_add_service') }}"><img src="{{ asset('bundles/graceweb/gfx/admin/icon-create.png') }}" alt="+"> Add a service</a>

     <ul class='admin-list'>
{% for service in services %}
      <li class='Service'>
        <span id='id' style='display:none'>{{ service.id }}</span>
       <a href="{{ path('_edit_service', {'id': service.id}) }}" id='edit' class='edit button' title="Edit service">e</a>
       <a href="{{ path('_delete_service', {'id': service.id}) }}" id='delete' class='delete button' title="Delete service">x</a>
       <a title="Publish" id='publish' class='publish {% if service.published == 1 %}on{% else %}off{% endif %} button'>{{ service.published }}</a>
       {{ service.name }} ({{ service.congregation.initials }})
      </li>
{% endfor %}
     </ul>
{% endblock %}