{% extends "GraceWebBundle::admin.html.twig" %}
{% block pageheading %}Users{% endblock %}
{% block content %}
     <table class='admin-list'>
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_user') }}" title="Add a user">Add</a></th>
       <th>Active</th>
       <th>Username</th>
       <th>Email</th>
       <th>Role</th>
       <th>Congregation</th>
       <th>Profile</th>
      </tr>
{% for user in users %}
      <tr>
       <td>
        <a href="{{ path('_edit_user', {'id': user.id}) }}" id='edit' class='edit button' title="Edit user">e</a>
        <a href="{{ path('_delete_user', {'id': user.id}) }}" id='delete' class='delete button' title="Delete user">x</a>
        <a href="{{ path('_changepw', {'id': user.id}) }}" id='delete' class='password button' title="Change Password">p</a>
        <a href="{{ path('_admin_switchuser', {'id': user.id}) }}" id='switch' class='switch button' title="Switch to user">&gt;-</a>
       </td>
       <td>{% if user.isactive == 1 %}<img src="{{ asset('bundles/graceweb/gfx/admin/icon-published-on.png') }}">{% else %}<img src="{{ asset('/bundles/graceweb/gfx/admin/icon-published-off.png') }}">{% endif %}</td>
       <td>{{ user.username }}</td>
       <td>{{ user.email }}</td>
       <td>{{ user.role }}</td>
       <td>{% if user.congregation %}{{ user.congregation.shortName }}{%endif%}</td>
       <td>{% if user.profile %}{{ user.profile.name }}{%endif%}</td>
      </li>
{% endfor %}
      <tr>
       <th><a id="create" class="add button" href="{{ path('_add_user') }}" title="Add a user">Add</a></th>
       <th>Active</th>
       <th>Username</th>
       <th>Email</th>
       <th>Role</th>
       <th>Congregation</th>
       <th>Profile</th>
      </tr>
     </table>
{% endblock %}