<table id='termnav' align=center>
  <tr>
    <td>
      <table> 
        <tr>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.prevtermyear, 'term':meta.prevterm}) }}">&lt;</a></td>
          <td>Term {{ meta.term }}</td>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.nexttermyear, 'term':meta.nextterm}) }}">&gt;</a></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.prevyear, 'term':meta.term}) }}">&lt;</a></td>
          <td>{{ meta.year }}</td>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.nextyear, 'term':meta.term}) }}">&gt;</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<a href='#' id='prevweek'>&lt;</a> {{ meta.date.format('d/m/y') }} <a href="#" id='nextweek'>&gt;</a>
<div id='rosterdetails'>
 {% for line in lines %}
 <div{% if line.date == meta.date %} class='active'{% endif %}>
  <b>Date:</b> {{line.date.format('d/m/Y')}}
  {% set lastheading = '' %}
  {% for role in roles %}
  {% if lastheading != role.heading %}<h3>{{ role.heading }}</h3>{%endif%}
  {% for item in line.rosterItems %}
    {% if item.rosterRole.id == role.id%}{% if role.type=='person' %}{{ item.person.firstName }}{%else%}{{ item.freetext }}{%endif%}{%else%} {%endif%}
  {%endfor%}
  {% set lastheading = role.heading %}
  {% endfor %}
 </div>
 {% endfor %}
</div>

<script type="text/javascript">
$(function(){
	size = $("#rosterdetails div").size();
	index = $("#rosterdetails div").index($("#rosterdetails div.active"));
	if (index < 2)
		$("#prevweek").hide();
	if (index > size - 3)
		$("#nextweek").hide();
	$("a#prevweek").click(function(event) {
		index = $("#rosterdetails div").index($("#rosterdetails div.active"));;
		if (index < 2)
			$("#prevweek").hide();
		$("#nextweek").show();
		$("#rosterdetails div.active").removeClass('active').hide();
		index = index -1;
		$("#rosterdetails div:eq("+index+")").show().addClass('active');
		event.preventDefault();
	});
	$("a#nextweek").click(function(event) {
		index = $("#rosterdetails div").index($("#rosterdetails div.active"));
		if (index > size - 3)
			$("#nextweek").hide();
		$("#prevweek").show();
		
		$("#rosterdetails div.active").removeClass('active').hide();
		index = index + 1;
		$("#rosterdetails div:eq("+index+")").show().addClass('active');
		
		event.preventDefault();
	});
	$("#termnav a").each(function(index){
			$(this).click(function(event){
				$("#termnav").parent().load(this.href);
				event.preventDefault();
			});
	});
	$("#rosterdetails div").hide();
	$("#rosterdetails div.active").show();
});
</script>