{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block head_extra %}
<script type='text/javascript'>
$(function(){
	$(".double-tabs li a").click(function(event) {
		  if ($('div#roster').attr('id'))
			  $('div#roster').load(this.href) 
		  else
		      window.location = this.href;
		  event.preventDefault();	
	});
});
</script>
{% endblock %}
{% block content %}
      <div id="roster">
      </div>

      <div class='double-tabs'>
      
       <ul id='top-row'>
        <li>Congregation:</li>
{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
        <li{% for service in congregation.getServices %}{% if service.id == service_id %} class='active'{% endif %}{%endfor%}>
         {{congregation.name}}
         <ul>
{% for service in congregation.getServices %}
         <li{% if service.id == service_id %} class='active'{% endif %}>
          <a href="{{ path('_rosterd',{'service_id':service.id}) }}">{{service.name}}</a>
         </li>
{% endfor %}
        </ul>
        </li>
{% endif %}
{% endfor %}
       </ul>

      </div>
{% endblock %}