{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block pageheading article.title %}
{% block title article.title %}
{% block content %}
<div class="article">
<img src='{{ ('bundles/graceweb/img/articles/'~article.image) | apply_filter('page_image') }}' style='float:right;'>

	<i>{{ article.date.format('l jS F') }}</i> 
	
<br/>
	<p>{{ article.text|linkify|nl2br }}</p>
</div>
{% if article.profile %}
<div class='profile' style='clear: both;'>
<hr/>
	<div style='float:left; padding-right:10px;'><img src='{{ asset('bundles/graceweb/img/profiles/'~article.profile.image) }}' width='200'></div>

	<h2>By {{ article.profile.name }}<br/><span class='subheading'>{{ article.profile.role }}</span></h2>
	 
	<p>{{ article.profile.shortText|nl2br }}</p>
	<a href="{{ path('_profile',{'name':article.profile.name,'id':article.profile.id}) }}">Read More...</a>
</div>
{% endif %}
{% endblock %}

