{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block morecontent %}
<div style="clear: both;"></div>
{% for article in articles %}
<div class="article">
	<div style='float:right;'>{% if article.image %}<img src='{{ ('bundles/graceweb/img/articles/'~article.image) | apply_filter('standard_thumb') }}' width='200'>{% endif %}</div>

	<h2>{{ article.title }}<br/><span class='subheading'>{{ article.date.format('l jS F') }} by 
	{% if article.profile %}{{ article.profile.name }}{% elseif article.creator %}{{ article.creator.username }}{% endif %}</span></h2>
	 
	<p>{{ article.shortText|nl2br }}</p>
	<a href="{{ path('_article',{'title':article.title,'id':article.id}) }}">Read More...</a>
</div>
<div style='clear: both;'></div>
{% endfor %}
{% endblock %}
