{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block head_extra %}
<script type='text/javascript' src='{{ asset('bundles/graceweb/js/roster.js') }}'></script>
{% endblock %}
{% block precontent %}

     <div class='double-tabs'>
      
       <ul id='top-row'>
        <li>Congregation:</li>
{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
        <li{% for service in congregation.getServices %}{% if service.id == service_id %} class='active'{% endif %}{%endfor%}>
         <a href="#bottom-row-{{congregation.id}}">{{congregation.name}}</a>
        </li>
{% endif %}
{% endfor %}
       </ul>

{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
       <div id='bottom-row-{{congregation.id}}' class='bottom-row'>
        <ul>
         <li>Service:</li>
{% for service in congregation.getServices %}
         <li{% if service.id == service_id %} class='active'{% endif %}>
          <a href="{{ path('_audiofiles_byservice',{'service_id':service.id,'name':service.name|replace(' ','_')|url_encode}) }}">{{service.name}}</a>
         </li>
{% endfor %}
        </ul>
       </div>
{%endif%}
{% endfor %}
</div>

{% endblock %}
{% block morecontent %}
<a href="{{ url('_xml_audiofiles') }}">Subscribe via XML</a>
<a href="{{ 'itpc://' ~  app.request.host ~ path('_xml_audiofiles') }}">Subscribe via Itunes</a>
<table class='tabular'>
	<tr><th>Date</th><th>Speaker</th><th>Title</th><th>Length</th><th>Download</th></tr>
{% for audiofile in audiofiles %}
	<tr{% if loop.index is even %} class='even'{% endif %}>
		<td>{{ audiofile.date.format('d/m/Y') }}</td>
		<td>{{ audiofile.speaker }}</td>
		<td>{{ audiofile.title }}</td>
		<td>{{ audiofile.length.format('H:i') }}</td>
		<td><a href="{{ asset('bundles/graceweb/files/'~audiofile.file)}}"><img src="{{ asset('bundles/graceweb/gfx/filetypes/'~audiofile.file|slice(-3)|replace('.','')~'.png')}}"> {{audiofile.file|slice(-3)}}</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
