{% extends "GraceWebBundle::layout.html.twig" %}
{% block pageheading %}<a href="{{ path('_cells') }}">Cells</a>{% endblock %}
{% block content %}
<h1>{{ cell.name }}</h1>
{{ cell.day }} {{ cell.time.format('g:ia') }}<br/>
	{% if cell.gender %}<b>For:</b> {{ cell.gender }}{% endif %}<br />
	<b>At:</b> {{ cell.location }}<br />
	<b>Contact:</b> {{ cell.contact }}<br />
<p>{{ cell.text|nl2br }}</p>
{% endblock %}
