{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block head_extra %}
<script>
$('form#filterbar select').change(function(){$('form#filterbar').submit()});
</script>
{% endblock %}
{% block morecontent %}
<div style="clear: both;"></div>

<form name='filterbar' id='filterbar' method='POST'>
<table class='filterbar'>
 <tr>
  <th><select name='gender'>
   <option value=''>Gender:</option>
   <option value='Men'{% if filter.gender == 'Men' %} selected{% endif %}>Men</option>
   <option value='Women'{% if filter.gender == 'Women' %} selected{% endif %}>Women</option>
   <option value='Mixed'{% if filter.gender == 'Mixed' %} selected{% endif %}>Mixed</option>
   <option value='Couples'{% if filter.gender == 'Couples' %} selected{% endif %}>Couples</option>
  </select></th>
  <th><select name='day'>
   <option value=''>Day:</option>
   {% for day in days %}
   <option value='{{ day.day }}'{% if filter.day == day.day %} selected{% endif %}>{{ day.day }}</option>
   {% endfor %}
  </select></th>
  <th><select name='congregation'>
   <option value=''>Congregation:</option>
   {% for congregation in congregations %}
   <option value='{{ congregation.id }}'{% if filter.congregation == congregation.id %} selected{% endif %}>{{ congregation.shortName }}</option>
   {% endfor %}
  </select></th>
  <th>
  <input type='submit' value='Filter'>
  </th>
 </tr>
</table>
</form>

{% for cell in cells %}
{% if loop.index is odd %}<div class="objectbox left">{% endif %}
{% if loop.index is even %}<div class="objectbox right">{% endif %}

	<a href="{{ path('_cell',{'name':cell.name,'id':cell.id}) }}"><h2>{{ cell.name }}</h2></a>
	{{ cell.day }} {{ cell.time.format('g:ia') }} 
	{% if cell.gender %}For: {{ cell.gender }}{% endif %}<br />
	At: {{ cell.location }}<br />
<br/>
	<div>{{ cell.shortText }}</div>
	<a href="{{ path('_cell',{'name':cell.name,'id':cell.id}) }}">Read More...</a>
</div>
{% if loop.index is even %}<div style="clear: both;"></div>{% endif %}
{% endfor %}
{% endblock %}
