{% extends "GraceWebBundle::layout.html.twig" %}
{% block pageheading congregation.name %}
{% block content %}
{% if congregation.image %}<img src='{{ ('bundles/graceweb/img/congregations/'~congregation.image) | apply_filter('page_image') }}' style='float:right;'>{% endif %}
<div>{{ congregation.text|nl2br }}</div>
<br/>
<h3>Service Times:</h3>
	{% for service in congregation.getServices %}
	<div style='display:inline-block;'>
		<strong>{{ service.name }}</strong><br/>
		{{ service.day }} {{ service.startTime.format('h:i a') }}<br/>
		{{ service.location }}
	</div>
	{% endfor %}
	
	
<div style="clear: both;"></div>
<h3>Events for {{congregation.name}}</h3>

{% for event in congregation.getEvents %}
{% if loop.index is odd %}<div class="objectbox left">{% endif %}
{% if loop.index is even %}<div class="objectbox right">{% endif %}
	<div class="sideimage"><a href="{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}"><img src='{{ ('bundles/graceweb/img/events/'~event.image) | apply_filter('small_thumb') }}' width='100'></a></div>

	
	<h2><a href="{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}">{{ event.name }}</a></h2>
	{{ event.dateStart.format('l jS F') }} 
	{% if event.dateEnd %} - {{ event.dateEnd.format('l jS F') }} {% endif %}
	{% if event.timeStart %}<br/>{{event.timeStart.format('g:ia')}}{% endif %}
	{% if event.timeEnd %}- {{ event.timeEnd.format('g:ia') }}{% endif %}
	
<br/>
	<div>{{ event.shortText|nl2br }}</div>
	<a href="{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}">Read More...</a>
</div>
{% if loop.index is even %}<div style="clear: left;"></div>{% endif %}
{% endfor %}

<div style="clear: both;"></div>
<h3>Leaders of {{congregation.name}}</h3>

{% for profile in congregation.getProfiles %}
<div class="profile">
	<div style='float:left; padding-right:10px;'><a href="{{ path('_profile',{'name':profile.name,'id':profile.id}) }}"><img src='{{ ('bundles/graceweb/img/profiles/'~profile.image) | apply_filter('standard_thumb') }}' width='200'></a></div>

	
	<h2><a class="heading" href="{{ path('_profile',{'name':profile.name,'id':profile.id}) }}">{{ profile.name }}<br/>
	<span class='subheading'>{{ profile.role }}{% if profile.congregation %} {% endif %}</span></a></h2>
	 
	<p>{{ profile.shortText|nl2br }} <a href="{{ path('_profile',{'name':profile.name,'id':profile.id}) }}">Read More...</a></p>
	
</div>
<div style='clear:left;'></div>
{% endfor %}
	
{% endblock %}
