{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block head_extra %}
<meta property="og:title" content="{{event.name}}"/>
<meta property="og:image" content="http://www.gracecom.net.au{{ ('bundles/graceweb/img/events/'~event.image) | apply_filter('page_image') }}"/>
<meta property="og:url" content="http://www.gracecom.net.au{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}" />
<meta property="og:description" content="{{ event.text }}" />
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="{{ event.dateStart.format('Y-m-d') }}{% if event.timeStart %}-{{event.timeStart.format('h:i:s')}}{% endif %}"/>
<meta property="og:site_name" content="Grace Community Church"/>
{% endblock %}
{% block pageheading %}<a href="{{ path('_events') }}">Events</a>{% endblock %}
{% block content %}

<h1>{{ event.name }}</h1>

{% if event.image %}<img src='http://www.gracecom.net.au{{ ('bundles/graceweb/img/events/'~event.image) | apply_filter('page_image') }}' style='float:right;'>{% endif %}
	
	
	<strong>Date:</strong> {{ event.dateStart.format('l jS F') }} 
	{% if event.dateEnd %} - {{ event.dateEnd.format('l jS F') }} {% endif %}
	{% if event.timeStart %} - {{event.timeStart.format('g:ia')}}{% endif %}
	{% if event.timeEnd %}- {{ event.timeEnd.format('g:ia') }}{% endif %}<br/>
	<strong>Location:</strong> {{ event.location }}<br/>
	<strong>Organised by:</strong> {% if event.congregation.name is defined %}<a href="{{ path('_congregation',{'name':event.congregation.shortName|replace(' ','_')|url_encode}) }}">{{ event.congregation.name }}</a>{% else %}All Grace{% endif %}<br/>
	
<br/>

<div>{{ event.text|nl2br }}</div>

{% endblock %}

