{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block morecontent %}
<div style="clear: both;"></div>
{% for event in events %}
{% if loop.index is odd %}<div class="objectbox left">{% endif %}
{% if loop.index is even %}<div class="objectbox right">{% endif %}
	{% if event.image %}<div class="sideimage"><a href="{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}"><img src='{{ ('bundles/graceweb/img/events/'~event.image) | apply_filter('small_thumb') }}'></a></div>{% endif %}

	
	<h2><a href="{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}">{{ event.name }}</a>{% if event.congregation.name is defined %} <span class='initials'>({{ event.congregation.initials }})</span>{% endif %}</h2>
	{{ event.dateStart.format('l jS F') }} 
	{% if event.dateEnd %} - {{ event.dateEnd.format('l jS F') }} {% endif %}
	{% if event.timeStart %}<br/>{{event.timeStart.format('g:ia')}}{% endif %}
	{% if event.timeEnd %}- {{ event.timeEnd.format('g:ia') }}{% endif %}
	
<br/>
	<div>{{ event.shortText|nl2br }}</div>
	<a href="{{ path('_event',{'name':event.name|replace(' ','_')|url_encode,'id':event.id}) }}">Read More...</a>
</div>
{% if loop.index is even %}<div style="clear: left;"></div>{% endif %}
{% endfor %}
{% endblock %}
