{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block morecontent %}
<div style="clear: both;"></div>
{% for congregation in congregations %}
{% if loop.index is odd %}<div class="whitebox left">{% endif %}
{% if loop.index is even %}<div class="whitebox right">{% endif %}

	{% if congregation.image %}<div class='sideimage'><a href="{{ path('_congregation',{'name':congregation.shortName,'id':congregation.id}) }}"><img src='{{ ('bundles/graceweb/img/congregations/'~congregation.image) | apply_filter('small_thumb') }}' style='float:right;' width="100px"></a></div>{% endif %}
	<h2><a href="{{ path('_congregation',{'name':congregation.shortName|replace(' ','_')|url_encode}) }}">{{ congregation.name }}</a></h2>
	<div>{{ congregation.shortText }} <a href="{{ path('_congregation',{'name':congregation.shortName|replace(' ','_')|url_encode}) }}">Read More...</a></div>
	<br/>
	{% for service in congregation.getServices %}
	<div style='display:inline-block;'>
		<strong>{{ service.name }}</strong><br/>
		{{ service.day }} {{ service.startTime.format('h:i a') }}<br/>
		{{ service.location }}
	</div>
	{% endfor %}
</div>
{% if loop.index is even %}<div style="clear: both;"></div>{% endif %}
{% endfor %}
{% endblock %}
