{% extends "GraceWebBundle::layout.html.twig" %}
{% block title page.title %}
{% block head_extra %}
<script type='text/javascript' src="{{ asset('bundles/graceweb/js/index.html.js') }}"></script>
{% endblock %}
{% block content %}
<ul id='accordion'>
{% for event in events %}
	<li><img src="{{ asset('bundles/graceweb/gfx/blade.png') }}" class="handle">
	<h3>{{ event.name }} {% if event.congregation.name is defined %}<small><small><small>({{ event.congregation.name }})</small></small></small>{% endif %}</h3>
	
		{{ event.dateStart.format('l jS F') }} 
		{% if event.dateEnd %} - {{ event.dateEnd.format('l jS F') }} {% endif %}
		{% if event.timeStart %}{{event.timeStart.format('g:ia')}}{% endif %}
		{% if event.timeEnd %}- {{ event.timeEnd.format('g:ia') }}{% endif %}
		<br/>
		<span class="accordion-image"><img src='{{ asset('/bundles/graceweb/img/events/'~event.image|url_encode) | apply_filter('home_accordion') }}'></span>
		{{ event.shortText|nl2br }}
		<a href="{{ path('_event',{'name':event.name,'id':event.id}) }}" class="more">Read More...</a>
	</li>
{% endfor %}
</ul>
<ul id='accordionkey'>
{% for event in events %}
	<li>o</li>
{% endfor %}
</ul>

<div style="clear: both;"></div>
<span class='button' id='button-iamnew'><a href="{{ path('_page', {'pageid': 'iamnew'}) }}"><h2>I am new &gt; &gt;</h2>Tell me more</a></span>
<span class='button' id='button-roster'>
  <h3>This {% if rosterWidgetData %}
  {{ rosterWidgetData[0].rosterLine.date.format('l') }} at {{ rosterWidgetData[0].rosterLine.service.congregation.shortname }}
  {% else %}Sunday{% endif %}:</h3>
  <p>
  <ul id='rosterwidget'>
    {% for item in rosterWidgetData %}
    <li>{{ item.rosterrole.name }}: {{ item.person }} {{ item.freetext }} </li>
    {% endfor %}
  </ul></p>
  <a href="{{ path('_roster') }}">View the roster</a></span>
<span class='button' id='button-right'>
  <h3>Latest message</h3>
  <p>
  {{audiofile.date.format('d/m/Y')}}: {{audiofile.speaker}}<br/>{{audiofile.title}}<br/>
  <a href="{{ asset('bundles/graceweb/files/'~audiofile.file)}}">Download</a></p>
</span>
<p/>

{% if page.image %}<div id='pageimage1'><img src="{{ asset('bundles/graceweb/img/pages/'~page.image) }}" /></div>{% endif %}
<p class='pagetext'>{% autoescape false %}{{ page.text }}{% endautoescape %}</p>

{% if article %}
<div style="clear: both;"></div>
<hr>
<div class="article">
	<div style='float:right;'><img src='{{ asset('bundles/graceweb/img/articles/'~article.image) }}' width='200'></div>

	<h2>{{ article.title }}<br/><span class='subheading'>{{ article.date.format('l jS F') }}</span></h2>
	 
	<p>{{ article.shortText|nl2br }}</p>
	<a href="{{ path('_articles') }}" style='float:right;'>More blog articles...</a>
	<a href="{{ path('_article',{'title':article.title,'id':article.id}) }}">Read More...</a><br/>
</div>
{% endif %}

{% endblock %}
