{% extends "GraceWebBundle::Default/page.html.twig" %}

{% block head_extra %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBJQWuOqtvL3i-ksSoezbYjeANoogG86mk&sensor=false"
      type="text/javascript"></script>


{% endblock %}
{% block morecontent %}
 <p></p>
    <div id="map_canvas" style="width:100%; height:100%"></div>
<script type="text/javascript">
      window.onload = function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
      }
    </script>
{% endblock %}
