{% extends "GraceWebBundle::layout.html.twig" %}
{% block pageheading %}<a href="{{ path('_ministries') }}">Ministries</a>{% endblock %}
{% block content %}
<h1>{{ ministry.name }}</h1>
<img src='{{ ('bundles/graceweb/img/ministries/'~ministry.image) | apply_filter('page_image') }}' style='float:right;'>
<b>Leader(s):</b> {{ ministry.leaders }}<br/>
<div>{{ ministry.text|nl2br }}</div>
{% endblock %}
