{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block morecontent %}
<div style="clear: left;"></div>
{% for ministry in ministries %}
	{% if loop.index is odd %}<div class="objectbox left">{% endif %}
	{% if loop.index is even %}<div class="objectbox right">{% endif %}
	<div class="sideimage"><a href="{{ path('_ministry', {'name': ministry.name}) }}"><img src='{{ ('bundles/graceweb/img/ministries/'~ministry.image) | apply_filter('small_thumb') }}' width='100'></a></div>
	<div class='objecttext'>
	<a href="{{ path('_ministry', {'name': ministry.name}) }}"><h2>{{ ministry.name }}</h2></a>
	Leaders: {{ ministry.leaders }}
	<div>{{ ministry.shortText }}</div>
	<a href="{{ path('_ministry', {'name': ministry.name}) }}">Read More..</a>
	</div>
	<div style="clear: left;"></div>
	</div>
{% endfor %}
{% endblock %}
