{% extends "GraceWebBundle::layout.html.twig" %}
{% block title page.title %}
{% block pageheading page.title %}
{% block content %}
{% if page.image %}     
     <img id='pageimage1' src="{{ ('bundles/graceweb/img/pages/'~page.image) | apply_filter('page_image') }}" />{% endif %}
     
     {% autoescape false %}{{ page.text }}{% endautoescape %}
{% block morecontent %}{% endblock %}
{% endblock %}
