{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block morecontent %}
<div style="clear: both;"></div>
{% for profile in profiles %}
<div class="profile">
	<div style='float:left; padding-right:10px;'><a href="{{ path('_profile',{'name':profile.name,'id':profile.id}) }}"><img src='{% if profile.image %}{{ ('/bundles/graceweb/img/profiles/'~profile.image) | apply_filter('standard_thumb') }}{% else %}{{ asset('bundles/graceweb/gfx/profile-small.png') }}{% endif %}'></a></div>

	
	<h2><a class="heading" href="{{ path('_profile',{'name':profile.name,'id':profile.id}) }}">{{ profile.name }}<br/>
	<span class='subheading'>{{ profile.role }}{% if profile.congregation %} ({{ profile.congregation.name }}) {% endif %}</span></a></h2>
	 
	<p>{{ profile.shortText|nl2br }} <a href="{{ path('_profile',{'name':profile.name,'id':profile.id}) }}">Read More...</a></p>
	
</div>
<div style='clear:left;'></div>
{% endfor %}
{% endblock %}
