{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block pageheading %}<a href='{{ path('_profiles') }}'>Who's Who?</a>	{% endblock %}
{% block content %}
<div class="profile">
<img src='{% if profile.image %}{{ ('bundles/graceweb/img/profiles/'~profile.image) | apply_filter('page_image') }}{% else %}{{ asset('bundles/graceweb/gfx/profile.png') }}{% endif %}' style='float:right;'>
<h2>{{ profile.name }}<br/><span class='subheading'>{{ profile.role }}
{% if profile.congregation %} <a href="{{ path('_congregation',{'name':profile.congregation.shortName|replace(' ','_')|url_encode}) }}">({{ profile.congregation.name }})</a> {% endif %}
</span></h2>

	<p>{{ profile.text|nl2br }}</p>
</div>
{% endblock %}

