{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block head_extra %}
{% endblock %}
{% block morecontent %}
<div class='double-tabs'>
<ul id='top-row'>
{% for category in resourceCategories %}
<li{% if cur_category == category.id %} class='active'{% endif %}><a href="{{ path('_resourceCategory', {'name':category.name|replace(' ','_')|url_encode,}) }}">{{ category.name }}</a></li>
{% endfor %}
</ul>
</div>
<table class='tabular'>
	<tr><th>Name</th><th>Description</th><th>Size</th><th>Download</th></tr>
{% if ResourceFiles|length > 0 %}
{% for resourcefile in ResourceFiles %}
	<tr{% if loop.index is even %} class='even'{% endif %}>
	   <td>{{ resourcefile.name }}</td>
       <td>{{ resourcefile.description }}</td>
       <td>{{ (resourcefile.size / 1024)|number_format }}kb</td>
       <td><a href="{{ asset('bundles/graceweb/files/resources/'~resourcefile.file)}}"><img src="{{ asset('bundles/graceweb/gfx/filetypes/'~resourcefile.file|slice(-3)|replace('.','')~'.png')}}"> {{ resourcefile.file }}</a></td>
	</tr>
{% endfor %}
{% else %}
<tr><td colspan=4 align=center>There are no resources at this time</td></tr>
{% endif %}
</table>
{% endblock %}
