{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block head_extra %}
<script type='text/javascript' src='{{ asset('bundles/graceweb/js/roster.js') }}'></script>
<script type='text/javascript'>$(function(){$(".double-tabs div li.active a").click();});</script>
{% endblock %}
{% block precontent %}

      <div class='double-tabs'>
      
       <ul id='top-row'>
        <li>Congregation:</li>
{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
        <li{% for service in congregation.getServices %}{% if service.id == service_id %} class='active'{% endif %}{%endfor%}>
         <a href="#bottom-row-{{congregation.id}}">{{congregation.name}}</a>
        </li>
{% endif %}
{% endfor %}
       </ul>

{% for congregation in congregations %}
{% if congregation.getServices.count > 0 %}
       <div id='bottom-row-{{congregation.id}}' class='bottom-row'>
        <ul>
         <li>Service:</li>
{% for service in congregation.getServices %}
         <li{% if service.id == service_id %} class='active'{% endif %}>
          <a href="{{ path('_rosterd',{'service_id':service.id}) }}">{{service.name}}</a>
         </li>
{% endfor %}
        </ul>
       </div>
{%endif%}
{% endfor %}

      </div>
{% endblock %}

{% block content %}

      <div id="roster"></div>
      <div id="roster-week" style="display:none;">week!</div>
{% endblock %}
