<table id='termnav' align='center'>
  <tr>
    <td>
      Grace Community Church Roster
    </td>
    <td>
      <table> 
        <tr>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.prevtermyear, 'term':meta.prevterm}) }}">&lt;</a></td>
          <td>Term {{ meta.term }}</td>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.nexttermyear, 'term':meta.nextterm}) }}">&gt;</a></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.prevyear, 'term':meta.term}) }}">&lt;</a></td>
          <td>{{ meta.year }}</td>
          <td><a href="{{ path("_rosterdetails", {'service_id':meta.service, 'year':meta.nextyear, 'term':meta.term}) }}">&gt;</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>


{% if roles[0].service.rosterFormat=='vertical' %}
<table id='roster' width='100%'>
 <tr>
  <th>Date</th>
  {% for line in lines %}
  <th>{{ line.date.format('d/m') }}</th>
  {% endfor %}
 </tr>
 {% set lastheading = '' %}
 {% for role in roles %}
 <tr>
 {% if lastheading != role.heading %}
  <th>{{ role.heading }}</th>
 </tr>
 <tr>
 {% set lastheading = role.heading %}
 {%endif%}
  <td>{{ role.name }}</td>
 {% for line in lines %}
  <td>
  {% for item in line.rosterItems %}
    {% if item.rosterRole.id == role.id%}{% if role.type=='person' and item.getPerson %}<a title="{{ role.name }}: {{ item.person.firstName }} {{item.person.lastName}}"> {{ item.person.firstName }} {{ item.person.lastName }}</a>{%else%}{{ item.freetext }}{%endif%}{%else%} {%endif%}
  {%endfor%}
  </td> 
 {% endfor %}
 </tr>
 {% endfor %}
</table>
{% else %}
<table id='roster' width='100%'>
 <tr>
  <th>Date</th>
  {% set lastheading = '' %}
  {% for role in roles %}
  {% if lastheading != role.heading %}</th><th>
  {{ role.heading }}{%endif%}
  {% set lastheading = role.heading %}
  {% endfor %}
 </tr>
 {% for line in lines %}
 <tr{% if line.date == meta.date %} class='active'{% endif %}>
  <th><span style="display:none;" id="id">{{ line.id }}</span><a href="#" id="date">{{line.date.format('d/m')}}</a></th>
  {% set lastheading = '' %}
  {% for role in roles %}
  {% if lastheading != role.heading %}</td><td>{%endif%}
  {% for item in line.rosterItems %}
    {% if item.rosterRole.id == role.id%}{% if role.type=='person' and item.getPerson %}<a title="{{ role.name }}: {{ item.person.firstName }} {{item.person.lastName}}"> {{ item.person.firstName }}</a>{%else%}{{ item.freetext }}{%endif%}{%else%} {%endif%}
  {%endfor%}
  {% set lastheading = role.heading %}
  {% endfor %}
 </tr>
 {% endfor %}
</table>
{% endif %}

<script type="text/javascript">
$(function(){
	$("#termnav a").each(function(index){
			$(this).click(function(event){
				$("#termnav").parent().load(this.href);
				event.preventDefault();
			});
	});
	$('#roster-week').dialog({ autoOpen: false, modal: true, title: 'Edit roster item', minWidth: 400 });
	
	 $('#roster a#date').click(function(event){
		id = $(this).parent().find('#id').html();
		url = '{{ path('_ajax_rosterline',{line_id:'[id]'}) }}';
		url = url.replace('%5Bid%5D',id);
		$('#roster-week').dialog({ title: 'Details' });
		$('#roster-week').html('Loading...');
		$('#roster-week').load(url);
		$('#roster-week').dialog('open');
			event.preventDefault();
	 });
});
</script>
