{% extends "GraceWebBundle::Default/page.html.twig" %}
{% block content %}
<table id='roster' width='100%'>

 <tr>
  <th>Date</th><td>{{line.date.format('d/m/Y')}}</td>
  </tr>
{% for item in line.rosterItems %}
<tr>
<th>{{ item.rosterrole.name }}</th>
<td>
    {% if item.rosterrole.type=='person' and item.getPerson %}{{ item.person.firstName }} {{ item.person.lastName }}{%else%}{{ item.freetext }}{%endif%}
  </td>
  </tr>
  {%endfor%}
</table>
{% endblock %}