    <form action="{{ path('_ajax_addrosteritem',{'rosterRole':form.vars.value.rosterrole.id,'rosterLine':form.vars.value.rosterLine.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}
        <input type="submit" value="Add" class="symfony-button-grey" />
        <input type="button" value="Cancel" id="cancelbutton">
    </form>
	<script>
	$('#cancelbutton').click(function(event){
		$('#editformdiv').dialog('close');
	});
	</script>
