    <form action="{{ path('_delete_rosteritem',{'id':form.vars.value.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        Really remove {% if form.vars.value.rosterrole.type == 'person' %}{{ form.vars.value.person.firstName }}{% else %}{{ form.vars.value.freeText }}{% endif %} from {{ form.vars.value.rosterrole.name }}?
        {{ form_rest(form) }}
        <br/>
        <input type="submit" value="Yes" class="symfony-button-grey" />
        <input type="button" value="No" id="cancelbutton">
    </form>
	<script>
	$('#cancelbutton').click(function(event){
		$('#editformdiv').dialog('close');
	});
	</script>