    <form action="{{ path('_ajax_editrosteritem',{'id':rosterItem.id}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
         {{ form_rest(form) }}
        <input type="submit" value="Save" class="symfony-button-grey" />
        <input type="button" value="Cancel" id="cancelbutton">
    </form>
	<script>
	$('#cancelbutton').click(function(event){
		$('#editformdiv').dialog('close');
	});
	</script>

