<table id='roster' width='100%'>

 <tr>
  <th>Date</th><td>{{line.date.format('d/m/Y')}}</td>
  </tr>
{% set lastheading = '' %}
{% for item in line.rosterItems %}
{% if lastheading != item.rosterrole.heading %}
  <tr>
    <th colspan=2>{{ item.rosterrole.heading }}</th>
  </tr>
{%endif%}
  <tr>
    <th style='font-weight: normal;'>{{ item.rosterrole.name }}</th>
    <td>
{% if item.rosterrole.type=='person' and item.getPerson %}{{ item.person.firstName }} {{ item.person.lastName }}{%else%}{{ item.freetext }}{%endif%}
    </td>
  </tr>
{% set lastheading = item.rosterrole.heading %}
{%endfor%}
</table>