{% extends "GraceWebBundle::layout.html.twig" %}
{% block head_extra %}
<link rel="stylesheet" href="{{ asset('bundles/graceweb/css/admin.css') }}" type="text/css" media="all" />
  <script type="text/javascript" src="{{ asset('bundles/graceweb/js/admin.js') }}"></script>
  <script>var swapurl='{{ path('_ajax_swap_listitem',{'type':'[type]','to':'[to]','id':'[id]'}) }}';
  var publishurl='{{ path('_ajax_publish',{'type':'[type]','value':'[value]','id':'[id]'}) }}';</script>
  {% block scripts %}{% endblock %}
{% endblock %}
{% block menu %}
      <li><a href="{{ path('_admin_index') }}">Admin Home</a></li>
      <li><a href="{{ path('_home') }}" target="_blank">Website</a></li>
      <li><a href="{{ path('_admin_people') }}">People</a></li>
      <li><a href="{{ path('_admin_profiles') }}">Who's Who</a></li>
      <li><a href="{{ path('_admin_congregations') }}">Congregations</a></li>
      <li><a href="{{ path('_admin_services') }}">Services</a></li>
      <li><a href="{{ path('_admin_events') }}">Events</a></li>
      <li><a href="{{ path('_admin_articles') }}">Blog</a></li>
      <li><a href="{{ path('_admin_audiofiles') }}">Audio Files</a></li>
      <li><a href="{{ path('_admin_resourceCategories') }}">Resources</a></li>
      <li><a href="{{ path('_admin_ministries') }}">Ministries</a></li>
      <li><a href="{{ path('_admin_cells') }}">Cells</a></li>
{% if is_granted('ROLE_SUPER_ADMIN') %}      <li><a href="{{ path('_admin_users') }}">Users</a></li>{%endif%}

      <li><a href="{{ path('_changemypw') }}">Change Password</a></li>
      <li><a href="{{ path('_admin_pages') }}">Pages</a></li>
      <li><a href="{{ path('_admin_rostera') }}">Roster</a></li>
      <li><a href="{{ path('_admin_rosterroles') }}">Roster Roles</a></li>
      <li><a href="{{ path('_admin_faults') }}">Faults</a></li>
      <li><a href="{{ path('_admin_features') }}">Features</a></li>
      <li><a href="{{ path('_logout') }}">Log Out</a></li>
{% endblock %}
