<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %} - Grace Community Church</title>
  <link rel="stylesheet" href="{{ asset('bundles/graceweb/css/default.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ asset('bundles/graceweb/css/print.css') }}" type="text/css" media="print" />
  <link rel="stylesheet" href="{{ asset('bundles/graceweb/css/sunny/jquery-ui-1.8.17.custom.css') }}" type="text/css" media="all" />
  {% block stylesheets %}{% endblock %}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  <script type="text/javascript" src="{{ asset('bundles/graceweb/js/jquery-1.7.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/graceweb/js/jquery-ui-1.8.17.custom.min.js') }}"></script>
  {% block javascripts %}{% endblock %}
  {% block head_extra %}{% endblock %}
 </head>
 <body{% if page is defined %} id="{{ page.url }}"{% endif %}>
  <div id="wrapper">
   
   <a href="{{ path('_home') }}" id="header"{% if page is defined and page.url == 'home' %} class="home"{% endif %}>Grace Community Church Central Coast NSW Australia</a>
   
   <div id="middlesection">
    
    <div id="content">
     <h1 class='pageheading'>{% block pageheading %}{% endblock %}</h1>
     {% block precontent %}{% endblock %}
{% if app.session.flash('notice') %}
     <div class="flash-message">
     <em>Notice</em>: {{ app.session.flash('notice') }}
     </div>
{% endif %}
{% block content %}
{% endblock %}
     
    </div>
    
    <div id="sidebar">
     <ul>
{% block menu %}{% for link in menu %}      <li><a href="{{ path('_page', {'pageid': link.url}) }}">{{ link.title }}</a>
{% if link.url == 'ministries' %}<ul>{% for ministry in ministries %}      <li><a href="{{ path('_ministry', {'name': ministry.name|replace(' ','_')|url_encode,}) }}">{{ ministry.name }}</a></li>
{% endfor %}</ul>
{% elseif link.url == 'resources' %}<ul>
 {% for category in resourceCategories %}      <li><a href="{{ path('_resourceCategory', {'name':category.name|replace(' ','_')|url_encode,}) }}">{{ category.name }}</a></li>
{% endfor %}</ul>
{% endif %}</li>
{% endfor %}      <li><a href="{{ path('_admin_index') }}" target="_blank">Admin</a></li>
{% endblock %}
{% block menuextra %}
{% endblock %}
     </ul>
    </div>
    
   </div>
   
   
   <div id="footer">
    <span id="createdby">Created By <a href="http://www.chris-young.com">Chris Young</a></span>
    <a href="{{ path('_page', {'pageid': 'about'}) }}">About</a> |
    <a href="{{ path('_page', {'pageid': 'contact_us'}) }}">Contact Us</a>
   </div>
  
  </div>
 </body>
</html>