<!DOCTYPE html>
<html>
 <head>
 <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ asset('bundles/graceweb/css/mobile.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ asset('bundles/graceweb/css/sunny/jquery-ui-1.8.17.custom.css') }}" type="text/css" media="all" />
  <title>{% block title %}{% endblock %} - Grace Community Church</title>
  <script type="text/javascript" src="{{ asset('bundles/graceweb/js/jquery-1.7.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/graceweb/js/jquery-ui-1.8.17.custom.min.js') }}"></script>
  {% block head_extra %}{% endblock %}
 </head>
 <body>
  <div id="wrapper">
   
   <div id="header">Grace Community Church Central Coast NSW Australia</div>
   
   <div id="middlesection">
    
    <div id="content">
     {% if app.session.flash('notice') %}
     <div class="flash-message">
     <em>Notice</em>: {{ app.session.flash('notice') }}
     </div>
     {% endif %}
     <div>
     <a href='{{ path('_home') }}'>Home</a> |
     <a href='{{ path('_roster') }}'>Roster</a> |
     <a href='{{ path('_page',{'pageid':'contact_us'}) }}'>Contact</a>
     </div>
     {% block content %}
     {% endblock %}
    </div>
    
    <div id="sidebar">
     <ul>
      {% block menu %}
      {% for link in menu %}
      <li><a href="{{ path('_page', {'pageid': link.url}) }}">{{ link.title }}</a></li>
      {% endfor %}
	  <li><a href="{{ path('_admin_index') }}" target="_blank">Admin</a></li>
      {% endblock %}
      {% block menuextra %}
      {% endblock %}
     </ul>
    </div>
   </div>
   
   
   <div id="footer">
    <span id="createdby">Created By <a href="http://www.chris-young.com">Chris Young</a></span>
    <a href="{{ path('_page', {'pageid': 'about'}) }}">About</a> |
    <a href="{{ path('_page', {'pageid': 'contact_us'}) }}">Contact Us</a>
   </div>
  
  </div>
 </body>
</html>